{% extends 'timepiece/invoice/base.html' %}
{% load timepiece_tags %}

{% block title %}Invoice Detail{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_invoice_entries' invoice.pk %}">View Entries</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            {% include "timepiece/invoice/_subnav.html" with invoice=invoice current="entries" %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {% include 'timepiece/invoice/_weekly_entry_list.html' %}
        </div>
    </div>
{% endblock content %}
