{% extends "timepiece/pto/approvedeny.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'pto' 'approvals' %}">Review Time Off Request</a>
    </li>
{% endblock crumbs %}

{% block title %}Confirm Approve Time Off Request{% endblock title %}

{% block extra_content %}
<div class="span12">
    <h2>Confirm Approve PTO Request</h2>
</div>
<div class="span10">
    {% if object.pto %}
    {% if object.user_profile.get_pto < object.amount %}
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>NOTE:</strong> {{ object.user_profile }} only has {{ object.user_profile.get_pto }} hours of PTO available.  Approving this request will result in a negative PTO balance for {{ object.user_profile }}.
    </div>
    {% else %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>NOTE:</strong> {{ object.user_profile }} has {{ object.user_profile.get_pto }} hours of PTO available.
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock extra_content %}

{% block submit_buton_style %}btn-success{% endblock %}
{% block submit_button_label %}Approve{% endblock %}
