{% extends "timepiece/pto/approvedeny.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'pto' 'approvals' %}">Review Time Off Request</a>
    </li>
{% endblock crumbs %}

{% block title %}Confirm Deny Time Off Request{% endblock title %}

{% block extra_content %}
<div class="span12">
    <h2>Confirm Deny Time OFf Request</h2>
</div>
<div class="span10">
    {% if object.pto %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>NOTE:</strong> {{ object.user_profile }} has {{ object.user_profile.get_pto }} hours of PTO available.
    </div>
    {% endif %}
</div>
{% endblock extra_content %}

{% block submit_buton_style %}btn-danger{% endblock %}
{% block submit_button_label %}Deny{% endblock %}
