{% extends "timepiece/pto/base.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% load timepiece_tags %}

{% block title %}FirmBase: Time Off{% endblock title %}

{% block content %}
<h2>Time Off</h2>
<div class="row-fluid">
    <div class="span12" id="active-entry">
        <div>
            <span>Here you can view your <a href="javascript:changeActiveTab('summary');">available</a> PTO, Time Off <a href="javascript:changeActiveTab('history');">history</a>, and <a href="{% url 'create_pto_request' %}">submit</a> and <a to="requests" href="javascript:changeActiveTab('requests');">track</a> requests for future Time Off.</span>
            {% if perms.crm.can_approve_pto_requests %}
            <span>Additionally, admins can <a to="requests" href="javascript:changeActiveTab('approvals');">approve</a> open Time Off Requests and view Time Off <a to="requests" href="javascript:changeActiveTab('all_history');">history</a>.
            {% endif %}
        </div>
        <div>
            <a type="button" class="btn btn-primary" href="{% url 'create_pto_request' %}">Request Time Off</a><p/>
        </div>
    </div>
</div>

<ul class="nav nav-tabs">
    <li{% if active_tab == 'summary' %} class="active"{% endif %}>
        {% url "pto" "summary" as link %}
        <a class="tab-link" to="summary" href="{{ link|add_parameters:request.GET }}">My Summary</a>
    </li>
    <li{% if active_tab == 'requests' %} class="active"{% endif %}>
        {% url "pto" "requests" as link %}
        <a class="tab-link" to="requests" href="{{ link|add_parameters:request.GET }}">My Requests</a>
    </li>
    <li{% if active_tab == 'history' %} class="active"{% endif %}>
        {% url "pto" "history" as link %}
        <a class="tab-link" to="history" href="{{ link|add_parameters:request.GET }}">My History</a>
    </li>
    {% if perms.crm.view_current_pto %}
    <li{% if active_tab == 'current_pto' %} class="active"{% endif %}>
        {% url "pto" "current_pto" as link %}
        <a class="tab-link" to="current_pto" href="{{ link|add_parameters:request.GET }}">All Employees Current Time Off</a>
    </li>
    {% endif %}
    {% if perms.crm.can_approve_pto_requests %}
    <li{% if active_tab == 'approvals' %} class="active"{% endif %}>
        {% url "pto" "approvals" as link %}
        <a class="tab-link" to="approvals" href="{{ link|add_parameters:request.GET }}">Open Requests</a>
    </li>
    <li{% if active_tab == 'all_request_history' %} class="active"{% endif %}>
        {% url "pto" "all_request_history" as link %}
        <a class="tab-link" to="all_request_history" href="{{ link|add_parameters:request.GET }}">All Time Off Request History</a>
    </li>
    <li{% if active_tab == 'all_history' %} class="active"{% endif %}>
        {% url "pto" "all_history" as link %}
        <a class="tab-link" to="all_history" href="{{ link|add_parameters:request.GET }}">All Time Off History</a>
    </li>    
    {% endif %}
</ul>

<div class="tab-content">

    <div class="tab-pane{% if active_tab == 'summary' %} active{% endif %}" id="summary">
        <div class="span4">
        <h3>My Available PTO</h3>
        <dl class="dl-horizontal">
            <dt>Available PTO</dt>
            <dd>{{ user_profile.get_pto }} hours</dd>

            <dt>Anniversary Date</dt>
            <dd>{{ user_profile.hire_date|date:"F d" }}</dd>
        </dl>
        </div>
        {% for holiday_year in holiday_years %}
            <div class="span4">
            <h3>{{ holiday_year.year }} Paid Holidays</h3>
            <dl class="dl-horizontal">
                {% for holiday in holiday_year.holidays %}
                <dt {% if holiday.date < today %}style="text-decoration: line-through;"{% endif %}>{{ holiday.name }}</dt>
                <dd {% if holiday.date < today %}style="text-decoration: line-through;"{% endif %}>{{ holiday.date }}</dd>
                {% endfor %}
            </dl>
        </div>
        {% endfor %}
    </div>

    <div class="tab-pane{% if active_tab == 'requests' %} active{% endif %}" id="requests">
      {% if pto_requests|length %}
        <table id="pto_requests" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                <th>Request Date</th>
                <th>Employee</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Hours</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Actions / Approver Comment</th>
            </tr></thead>
            <tbody>
              {% for ptor in pto_requests %}
                <tr id="{{ ptor.id }}">
                    <td style="white-space: nowrap;">{{ ptor.request_date }}</td>
                    <td style="white-space: nowrap;"><a href="mailto:{{ ptor.user_profile.user.email }}">{{ ptor.user_profile.user }}</a></td>
                    <td style="white-space: nowrap;">{% if ptor.pto %}Paid Time Off{% else %}Unpaid Time Off{% endif %}</td>
                    <td style="white-space: nowrap;">{{ ptor.pto_start_date }}</td>
                    <td style="white-space: nowrap;">{{ ptor.pto_end_date }}</td>
                    <td style="white-space: nowrap;">{{ ptor.amount }}</td>
                    <td>{{ ptor.comment }}</td>
                    <td style="white-space: nowrap;">
                        {% if ptor.status == 'pending' %}
                        <span class="label">Pending</span>
                        {% elif ptor.status == 'approved' %}
                        <span class="label label-success">Approved</span>
                        {% elif ptor.status == 'denied' %}
                        <span class="label label-important">Denied</span>
                        {% elif ptor.status == 'modified' %}
                        <span class="label label-warning">Modified</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if ptor.status == 'pending' %}
                        <a type="button" class="btn btn-primary btn-small" href="{% url 'edit_pto_request' ptor.id %}">Edit</a>
                        <a type="button" class="btn btn-danger btn-small" href="{% url 'delete_pto_request' ptor.id %}">Delete</a>
                        {% else %}
                        {{ ptor.approver }} @ {{ ptor.approval_date }}<br/>
                        <em>{{ ptor.approver_comment }}</em>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div style="margin-bottom: 18px;"><h5>You have no Time Off Requests.</h5></div>
      {% endif %}
    </div>

    <div class="tab-pane{% if active_tab == 'history' %} active{% endif %}" id="history">
      {% if pto_log|length %}
        <table id="pto_log" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                <th>Date</th>
                <th>Hours</th>
                <th>Comment</th>
                <th>PTO Request</th>
            </tr></thead>
            <tbody>
                {% for pto in pto_log %}
                <tr id="{{pto.id}}">
                    <td>{{ pto.date }}</td>
                    <td>{{ pto.amount }}</td>
                    <td>{{ pto.comment }}</td>
                    <td>
                        {% if pto.pto_request %}
                        <a href="{% url 'pto_request_details' pto.pto_request.id %}">View PTO Request Details</a>
                        {% else %}
                        <label>---</label>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div style="margin-bottom: 18px;"><h5>You have no Time Off History.</h5></div>
      {% endif %}
    </div>

    {% if perms.crm.view_current_pto %}
    <div class="tab-pane{% if active_tab == 'current_pto' %} active{% endif %}" id="current_pto">      
        NOTE: This list only contains the users that are active and are set to earn Paid Time Off.
        <table id="current_pto" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                <th>Employee</th>
                <th>Current Available PTO</th>
            </tr></thead>
            <tbody>
                {% for employee in current_pto %}
                <tr>
                    <td><a href="mailto:{{ employee.email }}">{{ employee.last_name }}, {{ employee.first_name }}</a></td>
                    <td>{{ employee.profile.get_pto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if perms.crm.can_approve_pto_requests or perms.crm.can_process_pto_requests %}
    <div class="tab-pane{% if active_tab == 'approvals' %} active{% endif %}" id="approvals">
      {% if pto_approvals|length %}
        <table id="pto_approvals" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                <th>Employee</th>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Requested Hours</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Actions</th>
            </tr></thead>
            <tbody>
              {% for ptor in pto_approvals %}
                <tr id="{{ ptor.id }}">
                    <td>{{ ptor.user_profile.user }}</td>
                    <td>{% if ptor.pto %}Paid Time Off{% else %}Unpaid Time Off{% endif %}</td>
                    <td>{{ ptor.pto_start_date }}</td>
                    <td>{{ ptor.pto_end_date }}</td>
                    <td>{{ ptor.amount }}</td>
                    <td>{{ ptor.comment }}</td>
                    <td>
                        {% if ptor.status == "approved" %}
                        <span class="label label-success">Approved</span>
                        {% elif ptor.status == "modified" %}
                        <span class="label label-warning">Modified</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if ptor.user_profile.user != request.user and ptor.status == "pending" %}
                        <a type="button" class="btn btn-success btn-small" href="{% url 'approve_pto_request' ptor.id %}">Approve</a>
                        <a type="button" class="btn btn-danger btn-small" href="{% url 'deny_pto_request' ptor.id %}">Deny</a>
                        {% elif ptor.status == "approved" or ptor.status == 'modified' %}
                        <a type="button" class="btn btn-primary btn-small" href="{% url 'process_pto_request' ptor.id %}">Process</a>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div style="margin-bottom: 18px;"><h5>There are no open Time Off Requests needing approval.</h5></div>
      {% endif %}
    </div>

    <div class="tab-pane{% if active_tab == 'all_request_history' %} active{% endif %}" id="all_request_history">
      {% if all_pto_requests|length %}
        <table id="all_pto_requests" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                <th>Employee</th>
                <th>Request Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Hours</th>
                <th>Comment</th>
                <th>Status</th>
                <th>Approval</th>
            </tr></thead>
            <tbody>
              {% for ptor in all_pto_requests %}
                <tr id="{{ ptor.id }}">
                    <td style="white-space: nowrap;">{{ ptor.user_profile.user }}</td>
                    <td style="white-space: nowrap;">{{ ptor.request_date }}</td>
                    <td style="white-space: nowrap;">{{ ptor.pto_start_date }}</td>
                    <td style="white-space: nowrap;">{{ ptor.pto_end_date }}</td>
                    <td style="white-space: nowrap;">
                        {{ ptor.amount }}
                        {% if ptor.pto %}<i class="icon-flag" title="Paid Time Off Request"> </i>{% endif %}
                    </td>
                    <td>{{ ptor.comment }}</td>
                    <td style="white-space: nowrap;">
                        {% if ptor.status == 'pending' %}
                        <span class="label">Pending</span>
                        {% elif ptor.status == 'approved' %}
                        <span class="label label-success">Approved</span>
                        {% elif ptor.status == 'processed' %}
                        <span class="label label-info">Processed</span>
                        {% elif ptor.status == 'denied' %}
                        <span class="label label-important">Denied</span>
                        {% elif ptor.status == 'modified' %}
                        <span class="label label-warning">Modified</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if ptor.approver %}
                        {{ ptor.approver }} @ {{ ptor.approval_date }}<br/>
                        <em>{{ ptor.approver_comment }}</em>
                        {% elif ptor.user_profile.user != request.user %}
                        <a type="button" class="btn btn-success btn-small" href="{% url 'approve_pto_request' ptor.id %}">Approve</a>
                        <a type="button" class="btn btn-danger btn-small" href="{% url 'deny_pto_request' ptor.id %}">Deny</a>
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div style="margin-bottom: 18px;"><h5>There are no Time Off Requests.</h5></div>
      {% endif %}
    </div>

    <div class="tab-pane{% if active_tab == 'all_history' %} active{% endif %}" id="all_history">
      <a style="margin-bottom: 12px;" class="btn btn-primary" href="{% url 'create_pto_log' %}">Add Time Off Log Entry</a>
      {% if pto_all_history|length %}
        <table id="pto_all_history" class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>
                {% if perms.crm.can_approve_pto_requests %}
                <th></th>
                {% endif %}
                <th>Employee</th>
                <th>Date</th>
                <th style="white-space: nowrap;">Hours <i class="icon-question-sign" title="To change the number of hours for a PTO Log Entry, modify the associated Time Entry."></i></th>
                <th>Comment</th>
                <th>PTO Request</th>
            </tr></thead>
            <tbody>
                {% for pto in pto_all_history %}
                <tr id="{{pto.id}}">
                    {% if perms.crm.can_approve_pto_requests %}
                    <td style="white-space: nowrap;">
                        {% if pto.entry_set.count == 0 %}
                        <a href="{% url 'edit_pto_log' pto.id %}"> <i class="icon-pencil" title="Edit this PTO Log Entry."></i>
                        {% elif pto.entry_set.count == 1 %}
                        <a href="{% url 'edit_entry' pto.get_time_entry.id %}"> <i class="icon-edit" title="Edit th Time Entry associated with this PTO Log Entry."></i>
                        {% endif %}
                        <a href="{% url 'delete_pto_log' pto.id %}"> <i class="icon-trash"></i>
                    </td>
                    {% endif %}
                    <td style="white-space: nowrap;">{{ pto.user_profile }}</td>
                    <td style="white-space: nowrap;">{{ pto.date }}</td>
                    <td style="white-space: nowrap;">{{ pto.amount }}</td>
                    <td>{{ pto.comment }}</td>
                    <td style="white-space: nowrap;">
                        {% if pto.pto_request %}
                        <a href="{% url 'pto_request_details' pto.pto_request.id %}">View Time Off Request Details</a>
                        {% else %}
                        <label>---</label>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      {% else %}
        <div style="margin-bottom: 18px;"><h5>There is no Time Off History.</h5></div>
      {% endif %}
    </div>
    {% endif %}
    
</div>
{% endblock content %}

{% block extrajs %}
<script charset="utf-8" src="{{ STATIC_URL }}timepiece/js/permanent_tabs.js"></script>
<script>
var basePath = "{% url 'pto' %}",
    tabIds = ['summary', 'requests', 'history', 'approvals'],
    defaultTab = 'summary';
</script>
{% endblock extrajs %}
