django==1.4
python-dateutil==1.5
django-pagination==1.0.7
django-selectable==0.4.1
django-compressor==1.2
django-bootstrap-toolkit==2.5.6
South==0.7.6
pytz==2012c
psycopg2==2.5
Mock==1.0.1
coverage==3.5.3
