{% extends "timepiece/base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>minibooks Authentication</h1>

<form id="login" class="form-horizontal" accept-charset="UTF-8" method="post" action="">
    {% csrf_token %}
    {{ form|as_bootstrap:"horizontal" }}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submit" value="Login" />&nbsp;
        <a href="{% url 'reset_password' %}">Forgot your password?</a>
    </div>
</form>
{% endblock %}
