{% extends "timepiece/base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h1>Reset Password</h1>
<p>To reset your password, enter e-mail address below and click Submit.</p>

<form class="form-horizontal" accept-charset='UTF-8' method='post' action=''>
    {% csrf_token %}
    {{ form|as_bootstrap:"horizontal" }}

    <div class="form-actions">
        <input class="btn btn-primary" type='submit' name='submit' value='Submit' />
    </div>
</form>
{% endblock %}
