{% extends "timepiece/base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form class="form-horizontal" action="" method="post">{% csrf_token %}
    {{ form|as_bootstrap:"horizontal" }}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{% trans 'Change my password' %}" />
    </div>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
