{% extends 'timepiece/schedule/base.html' %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}Schedule for the Week of {{ week|date:'M j, Y' }}{% endblock %}

{% block bodyid %}schedule-view{% endblock bodyid %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Schedule for the Week of {{ week|date:'M j, Y'}}</h2>
            <ul class="nav nav-pills">
                <li><a href="{% url 'view_schedule' %}?week_start={{ prev_week|date:'Y-m-d' }}">&larr; Prev Week</a></li>
                <li><a href="{% url 'view_schedule' %}?week_start={{ next_week|date:'Y-m-d' }}">Next Week &rarr;</a></li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span10">
            <form class="form-inline" accept-charset="UTF-8" method="get" action="">
                {{ form|as_bootstrap:"inline" }}
                <button type="submit" class="btn" name="submit">Update</button>
            </form>
        </div>
        {% if perms.timepiece.add_projecthours %}
            <div class="span2">
                <a class="btn right" href="{% url 'edit_schedule' %}?week_start={{ week|date:'Y-m-d' }}">Edit Schedule</a>
            </div>
        {% endif %}
    </div>

    <div class="row-fluid">
        <div class="span12">
            {% if projects %}
                <table id="schedule" class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Project</th>
                            {% for id, first_name, last_name in users %}
                                <th>{{ first_name }} {{ last_name|first }}.</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, name, entries in projects %}
                            <tr>
                                <th>{{ name }}</th>
                                {% for entry in entries %}
                                    <td class="hours">
                                        {% if entry %}{{ entry|floatformat:0 }}{% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script>
                    // Highlight the current row & column in the schedule on hover.
                    $('#schedule').delegate('td, th', 'mouseover mouseout', function(event) {
                        var self = $(this);
                        if (event.type === 'mouseover') {
                            self.parent().find('td, th').addClass('hover');
                            $('#schedule tr td:nth-child(' + (self.index() + 1) + ')').addClass('hover');
                            $('#schedule tr th:nth-child(' + (self.index() + 1) + ')').addClass('hover');
                        } else {
                            self.parent().find('td, th').removeClass('hover');
                            $('#schedule tr td:nth-child(' + (self.index() + 1) + ')').removeClass('hover');
                            $('#schedule tr th:nth-child(' + (self.index() + 1) +')').removeClass('hover');
                        }
                    });
                </script>
            {% else %}
                <p>There are no entries this week.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
