{% extends "timepiece/base.html" %}
{% load bootstrap_toolkit %}

{% block title %}Change Password{% endblock %}

{% block content %}

<h1>Change Password</h1>
<p>To change your password, enter your new password below, and click Change Password.</p>
<br />

<form class="form-horizontal" accept-charset="UTF-8" method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
    {{ form|as_bootstrap:"horizontal" }}

    <div class="form-actions">
        <input class="btn btn-primary" type="submit" name="submit" value="Change Password" />
    </div>
</form>

{% endblock %}
