{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}Payroll Per Project{% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
{% endblock %}
{% block base-javascript %}{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
	<script src="{{ STATIC_URL }}js/django-crm.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/minibooks.js" type="text/javascript"></script>
    {{pj_filters.media}}
{% endblock %}

{% block content %}
{% block quick-search %}{% endblock %}
{% date_filters %}


<form method="get" action="" id="pj_select" accept-charset="utf-8">
    <ul id='ledger-date-fieldlist'>
        {{ date_form.as_ul }}
    </ul>
    <div id='project_billable_form'>
        {% for field in pj_filters %}
            {% if field.label != 'Project Name:' %}
                {{field}}
                {% if field.label != 'Trunc' and field.label != 'Pjs' %}
                    {{ field.label}}
                {% endif %}
            <br/>
            {% else %}
                {{field.label}} {{field}}<br/>
            {% endif %}
        {% endfor %}
        {% for pj in projects %}
            {{pj.name}} <button type='submit' name='remove_filter' value="{{pj.id}}">Remove Filter</button><br/>
        {% endfor %}
        <input type='submit' name='ok' value='Ok' id='billable'/>
    </div>

</form>

<h2>Payroll Per Project</h2>
<ul class='header-actions-left'>
</ul>

<div style='float: right;'>
    {% for cal in cals %}
        {{ cal|safe }}
    {% endfor %}
</div>
{% if project_totals %}
    <div id="scroll_box">
        <table class='project'>
            <tr class="header">
                <th class='name_col'>Name</th>
                {% for date in date_headers %}
                    {% if trunc == 'month' %}
                        <th>{{date|date:"M 'Y"}}</th>
                    {% else %}
                        <th>{{date|date:"M/d/Y"}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for name, hours in project_totals %}
            <tr class="{% cycle 'odd' 'even' %}"> 
                <th class='name_col'>{{name.1}} {{name.0}}</th>
                {% show_project_hours name hours date_headers pj_filters %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No entries found.</p>
{% endif %}
{% endblock %}

