{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}Payroll Per Project{% endblock %}

<!--TODO: Upgrade portal JQuer and JQuery UI, referrence in base.html and remove these CDN calls-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/ui-lightness/jquery-ui.css" type="text/css" media="screen">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>

{% block content %}

{% date_filters "months" %}
{% date_filters "quarters" %}
{% date_filters "years" %}

<form method="get" action="" id="date-filter" accept-charset="utf-8">
    <ul id='ledger-date-fieldlist'>
        {{ date_form.as_ul }}
        <li>
            <input type='submit' name='submit' value='Update' id='id_date_form_submit_btn'/>
        </li>
        <li>
            <input type='button' name='clear' value='Clear' id='id_date_form_clear_btn'/>
        </li>
    </ul>
</form>

<h2>Payroll Per Project</h2>
<ul class='header-actions-left'>
</ul>

<div style='float: right;'>
    {% for cal in cals %}
        {{ cal|safe }}
    {% endfor %}
</div>
{% if project_totals %}
    <div id="scroll_box">
        <table class='project'>
            <tr class="header">
                <th class='name_col'>Name</th>
                {% for date in date_headers %}
                    {% if trunc == 'month' %}
                        <th>{{date|date:"M 'Y"}}</th>
                    {% else %}
                        <th>{{date|date:"M/d/Y"}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for name, hours in project_totals %}
            <tr class="{% cycle 'odd' 'even' %}"> 
                <th class='name_col'>{{name.1}} {{name.0}}</th>
                {% show_project_hours name hours date_headers project_filters_form %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <p>No entries found.</p>
{% endif %}

<div id='project_billable_form'>
    <form method="post" action="" id="billable" accept-charset="utf-8">
    {% csrf_token %}
        {% for field in project_filters_form %}
            {{field}}
            {% if field.label != 'Trunc' %}
                {{ field.label}}
            {% endif %}
        {% endfor %}
        <input type='submit' name='project_filters_ok' value='Ok' id='billable'/>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#quick-search-area").hide();
    });
</script>
{% endblock %}

