{% extends "timepiece/contact/base.html" %}
{% load bootstrap_toolkit %}
{% load timepiece_tags %}
{% load url from future %}

{% block title %}Contacts{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Contacts</h2>
            <ul class="nav nav-pills">
                {% if perms.crm.add_contact %}
                    <li><a href="{% url 'create_contact' %}">Create Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form class='form-inline' accept-charset='UTF-8' method='get' action=''>
                {{ form|as_bootstrap:"inline" }}
                <button type='submit' class='btn' name='submit'>Search</button>
                <button type="submit" class="btn btn-success" name="export_contact_list" value="True">Export Contact List</button>
            </form>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            {% load pagination_tags %}
            {% autopaginate object_list %}

            {% paginate %}
            <table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Business</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in object_list %}
                        <tr>
                            <td><a href="{% url 'view_contact' contact.pk %}">{{ contact.name }}</a></td>
                            <td>
                                {% if contact.office_phone %}{% format_phone_number contact.office_phone %}{% else %}
                                {% if contact.mobile_phone %}{% format_phone_number contact.mobile_phone %}{% else %}
                                {% if contact.home_phone %}{% format_phone_number contact.home_phone %}{% else %}
                                {% if contact.other_phone %}{% format_phone_number contact.other_phone %}{% else %}
                                {% endif %}{% endif %}{% endif %}{% endif %}
                            </td>
                            <td>{% if contact.email %}
                                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                                {% endif %}
                            </td>
                            <td>{{ contact.business }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% paginate %}
        </div>
    </div>
{% endblock content %}
