{% extends 'timepiece/base.html' %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'clock_out' %}">Clock Out</a></li>
{% endblock crumbs %}

{% block title %}Clock Out of {{ entry.project }}{% endblock title %}

{% block extrajs %}
    <script type="text/javascript" charset="utf-8"
            src="{{ STATIC_URL }}timepiece/js/prevent_double_click.js"></script>
{% endblock extrajs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Clock Out of {{ entry.activity.name }} on {{ entry.project }}</h2>

            <br style="clear: both;" />

            <form class="form-horizontal prevent-doubleclick" accept-charset="utf-8"
                    action="" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" name="submit" value="Clock Out" />
                    <input class="btn" type="button" value="Cancel" onclick="history.back()" />
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
