{% extends 'timepiece/base.html' %}
{% load timepiece_tags %}
{% load ledger %}

{% block title %}Timepiece Entries{% endblock %}

{% block content %}
<h2>My Time Sheet</h2>
<ul class='header-actions-left'>
    <li><a href="{% url timepiece-clock-in %}">Clock In</a></li>
    <li><a href="{% url timepiece-add %}">Add Entry</a></li>
    {% if perms.timepiece.view_entry_summary %}
        <li><a href="{% url timepiece-summary %}">General Ledger</a></li>
    {% endif %}
</ul>

<h3>Past 2 Weeks</h3>

<table>
    <tr>
        <th>Date</th>
        <th>Project</th>
        <th>Clock In</th>
        <th>Clock Out</th>
        <th>Breaks</th>
        <th>Hours</th>
        <th>Location</th>
    </tr>
    {% for entry in entries %}
    <tr>
        <td>{{ entry.start_time|date:"m/d/Y (D)" }}</td>
        <td><a href='{% url view_project business_id=entry.project.business.id,project_id=entry.project.id %}'>{{ entry.project }}</a></td>
        <td>{{ entry.start_time|date:"P" }}</td>
        <td>
            {% if entry.end_time %}
                {{ entry.end_time|date:"P" }}
            {% else %}
                <a href="{% url timepiece-clock-out entry.id %}">Clock Out</a>
            {% endif %}
        </td>
        <td>
            {{ entry.seconds_paused|seconds_to_hours|floatformat:2 }}
            {% if not entry.end_time %}
                {% if entry.is_paused %}
                    <a href="{% url timepiece-toggle-paused entry.id %}">(Unpause)</a>
                {% else %}
                    <a href="{% url timepiece-toggle-paused entry.id %}">(Pause)</a>
                {% endif %}
            {% endif %}
        </td>
        <td>{{ entry.hours }}</td>
        <td>{{ entry.location }}</td>
        <td>
            <ul class='actions'>
                <li><a href="{% url timepiece-update entry.id %}">Change</a></li>
                <li><a href="{% url timepiece-delete entry.id %}">Remove</a></li>
            </ul>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan='7'>You have no time logged for this period.</td>
    </tr>
    {% endfor %}
</table>

{% if project_entries %}
    <table id='project-summary'>
        <caption>Project Summary</caption>
    {% for entry in project_entries %}
        <tr>
            <td>{{ entry.project__name }} </td>
            <td>{{ entry.sum }}</td>
        </tr>
    {% endfor %}        
    </table>
{% endif %}

{% if activity_entries %}
    <table id='activity-summary'>
        <caption>Activity Summary</caption>
    {% for entry in activity_entries %}
        <tr>
            <td>{{ entry.activity__name }} </td>
            <td>{{ entry.sum }}</td>
        </tr>
    {% endfor %}        
    </table>
{% endif %}

<br style='clear: both;' />

{% endblock %}
