{% extends "timepiece/project/base.html" %}
{% load url from future %}
{% load timepiece_tags bootstrap_toolkit %}

{% block title %}{{ object }}{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_project' object.id %}">{{ object }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ object }}</h2>
            <ul class="nav nav-pills">
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <form id="approve-milestones" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                <h3>Milestones Pending Approval for {{ object }}</h3>
                {% for milestone in object.pending_milestones %}
                <table class="table table-bordered">
                    <tr><th>Name</th><td>{{ milestone.name }}</td></tr>
                    <tr><th>Due Date</th><td>{{ milestone.due_date|date:"M j, Y" }}</td></tr>
                    <tr><th>Description</th><td>{{ milestone.description|linebreaks }}</td></tr>
                </table>
                {% endfor %}

                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-success" type='submit' name='approve' value='Approve All' />
                    <input class="btn" type='button' value='Cancel' onclick='history.go(-1)' />
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
