{% extends "base.html" %}
{% block title %}{% if not project %}Create Project{% else %}Edit {{ project }}{% endif %}{% endblock %}

{% block content %}

<h2>{% if not project %}Create Project{% if business %} for {{ business }}{% endif %}{% else %}Edit {{ project }}{% endif %}</h2>

<form id="create-edit-project" action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <table class='vertical'>
        {{ project_form }}        
        <tr>
            <td>&nbsp;</td>
            <td class='submit'>
                <input type='button' value='Cancel' onclick='history.go(-1)' />
                &nbsp;
                <input type='submit' name='submit' value='Save &rarr;' />
            </td>
        </tr>
    </table>
</form>

{% endblock %}
