{% extends "base.html" %}
{% load crm_tags %}

{% block title %}{{ project }}{% endblock %}

{% block content %}
<h2>{{ project }}</h2>
<ul class='header-actions-left'>
{% if perms.crm.change_project %}
	<li><a href='{% url edit_project business_id=project.business.id,project_id=project.id %}'>Edit project</a></li>
{% endif %}
	<li><a href='{% url view_business business_id=project.business.id %}'>Return to {{ project.business.name }}</a></li>
</ul>

<div id='sidebar'>
	<h3>Contacts</h3>
	<ul class='people'>
	{% ifnotequal project.contacts.count 0 %}
	{% for contact in project.contacts.select_related.all %}
		<li>
			<a href='{% url view_person person_id=contact.id %}'>{{ contact.get_full_name }}</a>
			<a title="Edit {{ contact.get_full_name }}'s relationship to {{ project }}" href='{% url edit_project_relationship business_id=project.business.id,project_id=project.id,user_id=contact.id %}?next={% url view_project business_id=project.business.id,project_id=project.id %}'><img alt="Edit {{ contact.get_full_name }}'s relationship to {{ project }}" src='{{ FAMFAMFAM_URL }}pencil.png' /></a>
			<a title='Remove {{ contact.get_full_name }}' href='{% url associate_contact business_id=project.business.id,project_id=project.id,user_id=contact.id,action="remove" %}?next={% url view_project business_id=project.business.id,project_id=project.id %}'><img alt='Remove {{ contact.get_full_name }}' src='{{ FAMFAMFAM_URL }}/delete.png' /></a>
		</li>
	{% endfor %}
	{% endifnotequal %}
	</ul>
	<form id="add-contact" action='{% url associate_contact business_id=project.business.id,project_id=project.id,action="add" %}?next={% url view_project business_id=project.business.id,project_id=project.id %}' method="post" accept-charset="utf-8">
		<div class="field-wrapper">
		    {{ add_contact_form }}
			<input type="submit" name="submit" value="Add" id="submit" />
		</div>
	</form>
</div>

{% if project.notes %}
	<p>{{ project.notes }}</p>
{% endif %}

{% endblock %}
