<html>
<head>
<title>Sample Site - {% block title %}Welcome!{% endblock %}</title>
<script type="text/javascript" src="/static/js/tracking.js" />
<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
{% block extra-head %}{% endblock %}
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Sample Site</h1>
        </div>
        <div id="content">
        {% block content %}{% endblock %}

            <div id="footer">
                Copyright &copy; 2008 Josh VanderLinden
            </div>
        </div>
    </div>
</body>
</html>