{% extends "timepiece/user/base.html" %}
{% load timepiece_tags bootstrap_toolkit %}
{% load url from future %}

{% block title %}{{ object.get_name_or_username }}{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="">{{ object.get_name_or_username }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ object.get_name_or_username }}</h2>
            <ul class="nav nav-pills">
                {% if perms.crm.change_limitedaccessuserprofile %}
                    {% if object.profile.limited %}
                    <li><a href="{% url 'edit_limited_profile' object.pk object.profile.limited.id %}">Edit Limited Profile</a></li>
                    {% else %}
                    <li><a href="{% url 'create_limited_profile' object.pk %}">Create Limited Profile</a></li>
                    {% endif %}
                {% endif %}
                {% if perms.auth.change_user %}
                    <li><a href="{% url 'edit_user' object.pk %}">Edit</a></li>
                    <li><a href="{% url 'delete_user' object.pk %}">Delete</a></li>
                {% endif %}
                {% if perms.auth.view_entry_summary %}
                    <li><a href="{% url 'view_user_timesheet' object.pk %}">View Time Sheet</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <table class="table table-bordered">
                <tr><th>Username</th><td>{{ object.username }}</td></tr>
                <tr><th>First Name</th><td>{{ object.first_name }}</td></tr>
                <tr><th>Last Name</th><td>{{ object.last_name }}</td></tr>
                <tr><th>Email</th><td>{{ object.email }}</td></tr>
                <tr>
                    <th>Active</th>
                    <td>
                        {% if object.is_active %}
                            <span class="label label-success"><i class="icon-white icon-ok"></i></span>
                        {% else %}
                            <span class="label label-important"><i class="icon-white icon-remove"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Utilization</th><td>{{ object.profile.utilization|floatformat:2 }} %</td></tr>
                <tr>
                    <th style="white-space: nowrap;">Weekly Schedule</th>
                    <td>
                        <span class="label label-success">{{ object.profile.hours_per_week }} hrs/week</span><p/>
                        <table class="table table-bordered table-condensed">
                            <thead><tr>
                                <th>Sunday</th>
                                <th>Monday</th>
                                <th>Tuesday</th>
                                <th>Wednesday</th>
                                <th>Thursday</th>
                                <th>Friday</th>
                                <th>Saturday</th>
                            </tr></thead>
                            <tbody><tr>
                                <td style="white-space: nowrap;">{{ object.profile.get_sunday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_monday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_tuesday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_wednesday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_thursday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_friday_schedule }} hrs</td>
                                <td style="white-space: nowrap;">{{ object.profile.get_saturday_schedule }} hrs</td>
                            </tr></tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th>Earns PTO</th>
                    <td>
                        {% if object.profile.earns_pto %}
                            <span class="label label-success"><i class="icon-white icon-ok"></i></span>
                            {{ object.profile.pto_accrual }} hours per pay period
                        {% else %}
                            <span class="label label-important"><i class="icon-white icon-remove"></i></span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Paid Holidays</th>
                    <td>
                        {% if object.profile.earns_holiday_pay %}
                            <span class="label label-success"><i class="icon-white icon-ok"></i></span>
                        {% else %}
                            <span class="label label-important"><i class="icon-white icon-remove"></i></span>
                        {% endif %}
                    </td>
                </tr>
                {% if request.user.id == user_id or perms.crm.can_view_limited_profile %}
                <tr class="info"><td colspan=2><p class="text-center"><strong>Travel Preferences</strong></p></td></tr>
                <tr><th>Seating</th><td>{{ object.profile.limited.seating }}</td></tr>
                <tr><th>Rental Car / Shuttle / Taxi</th><td>{{ object.profile.limited.ground_transportation }}</td></tr>
                <tr><th>Hotel Accommodations</th><td>{{ object.profile.limited.hotel_accommodatations }}</td></tr>
                <tr><th>Hotel Brand</th><td>{{ object.profile.limited.hotel_brand }}</td></tr>
                <tr><th>Frequent Flyer Programs</th><td>{{ object.profile.limited.frequent_flyer }}</td></tr>
                <tr><th>Rental Car Loyalty Programs</th><td>{{ object.profile.limited.rental_car }}</td></tr>
                <tr><th>Hotel Loyalty Programs</th><td>{{ object.profile.limited.hotel }}</td></tr>

                <tr class="info"><td colspan=2><p class="text-center"><strong>Gift Preferences</strong></p></td></tr>
                <tr><th>Preferred Gift Cards</th><td>{{ object.profile.limited.gift_card }}</td></tr>
                <tr><th>Preferred Coffee Shops</th><td>{{ object.profile.limited.coffee_shops }}</td></tr>
                <tr><th>Other Gift Card Preferences</th><td>{{ object.profile.limited.other_gift }}</td></tr>

                <tr class="info"><td colspan=2><p class="text-center"><strong>In Office Refreshments</strong></p></td></tr>
                <tr><th>Coffees</th><td>{{ object.profile.limited.coffees }}</td></tr>
                <tr><th>Teas</th><td>{{ object.profile.limited.teas }}</td></tr>
                <tr><th>Snacks</th><td>{{ object.profile.limited.snacks }}</td></tr>

                <tr class="info"><td colspan=2><p class="text-center"><strong>Catering Preferences</strong></p></td></tr>
                <tr><th>Sandwich type & condiments</th><td>{{ object.profile.limited.sandwich }}</td></tr>
                <tr><th>Soup</th><td>{{ object.profile.limited.soup }}</td></tr>
                <tr><th>Salad</th><td>{{ object.profile.limited.salad }}</td></tr>
                <tr><th>Pizza</th><td>{{ object.profile.limited.pizza }}</td></tr>
                <tr><th>Pasta</th><td>{{ object.profile.limited.pasta }}</td></tr>
                <tr><th>Chipotle</th><td>{{ object.profile.limited.chipotle }}</td></tr>
                <tr><th>Other</th><td>{{ object.profile.limited.other }}</td></tr>

                <tr class="info"><td colspan=2><p class="text-center"><strong>Birthday</strong></p></td></tr>
                <tr><th>Celebration?</th><td>{{ object.profile.limited.birthday_celebration|yesno:"Yes,No,No" }}</td></tr>
                {% if object.profile.limited.birthday_celebration %}
                <tr><th>Birthday Month</th><td>{{ object.profile.limited.get_birthday_month_display }}</td></tr>
                {% endif %}

                <tr class="info"><td colspan=2><p class="text-center"><strong>Hobbies</strong></p></td></tr>
                <tr><td colspan=2>{{ object.profile.limited.hobbies }}</td></tr>
                {% endif %}
            </table>
        </div>

        <div class="span4 offset2">
            {% url 'view_user' object.pk as next_url %}
            <h3>Projects</h3>
            <ul class="projects">
                {% ifnotequal object.project_relationships.count 0 %}
                {% for relationship in object.project_relationships.select_related %}
                    <li>
                        {{ relationship.project }}
                        {% if perms.crm.change_projectrelationship %}
                            {% with caption="Edit "|add:object.get_name_or_username|add:"'s relationship to "|add:relationship.project.code project=relationship.project %}
                                <a title="{{ caption }}" href="{% url 'edit_relationship' %}?project_id={{ project.id }}&user_id={{ object.pk }}&next={{ next_url|add_parameters:request.GET|urlencode }}"><i alt="{{ caption }}" class="icon-pencil"></i></a>
                            {% endwith %}
                        {% endif %}
                        {% if perms.crm.delete_projectrelationship %}
                            {% with caption="Remove "|add:object.get_name_or_username|add:" from "|add:relationship.project.code project=relationship.project %}
                                <a title="{{ caption }}" href="{% url 'delete_relationship' %}?project_id={{ project.id }}&user_id={{ object.pk }}&next={{ next_url|add_parameters:request.GET|urlencode }}"><i alt="{{ caption }}" class="icon-remove"></i></a>
                            {% endwith %}
                        {% endif %}
                    </li>
                {% endfor %}
                {% endifnotequal %}
            </ul>
            {% if perms.crm.add_projectrelationship %}
                <form class="form-inline" action="{% url 'create_relationship' %}?user_id={{ object.pk }}&next={{ next_url|add_parameters:request.GET|urlencode }}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ add_project_form|as_bootstrap:"inline" }}
                    <input class="btn" type="submit" name="submit" id="submit" value="Add" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
