{% extends "timepiece/user/base.html" %}
{% load timepiece_tags markup bootstrap_toolkit %}
{% load url from future %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="">{{ user.get_full_name }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ user.get_full_name }}</h2>
            <ul class="nav nav-pills">
                {% if perms.auth.change_user %}
                    <li><a href="{% url 'edit_user' user.pk %}">Edit</a></li>
                    <li><a href="{% url 'delete_user' user.pk %}">Delete</a></li>
                {% endif %}
                {% if perms.auth.view_entry_summary %}
                    <li><a href="{% url 'view_user_timesheet' user.pk %}">View Time Sheet</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <table class="table table-bordered">
                <tr><th>Username</th><td>{{ user.username }}</td></tr>
                <tr><th>First Name</th><td>{{ user.first_name }}</td></tr>
                <tr><th>Last Name</th><td>{{ user.last_name }}</td></tr>
                <tr><th>Email</th><td>{{ user.email }}</td></tr>
                <tr>
                    <th>Active</th>
                    <td>
                        {% if user.is_active %}
                            <span class="label label-success"><i class="icon-white icon-ok"></i></span>
                        {% else %}
                            <span class="label label-important"><i class="icon-white icon-remove"></i></span>
                        {% endif %}
                    </td>
            </table>
        </div>

        <div class="span4 offset2">
            <h3>Projects</h3>
            <ul class="projects">
                {% ifnotequal user.project_relationships.count 0 %}
                {% for relationship in user.project_relationships.select_related %}
                    <li>
                        {{ relationship.project.name }}
                        {% if perms.timepiece.change_projectrelationship %}
                            {% with caption="Edit "|add:user.get_full_name|add:"'s relationship to "|add:relationship.project.name project=relationship.project %}
                                <a class="redirect-next" title="{{ caption }}" href="{% url 'edit_relationship' %}?project_id={{ project.id }}&user_id={{ user.pk }}"><i alt="{{ caption }}" class="icon-pencil"></i></a>
                            {% endwith %}
                        {% endif %}
                        {% if perms.timepiece.delete_projectrelationship %}
                            {% with caption="Remove "|add:user.get_full_name|add:" from "|add:relationship.project.name project=relationship.project %}
                                <a class="redirect-next" title="{{ caption }}" href="{% url 'delete_relationship' %}?project_id={{ project.id }}&user_id={{ user.pk }}"><i alt="{{ caption }}" class="icon-remove"></i></a>
                            {% endwith %}
                        {% endif %}
                    </li>
                {% endfor %}
                {% endifnotequal %}
            </ul>
            {% if perms.timepiece.add_projectrelationship %}
                <form class="form-inline" action="{% url 'create_relationship' %}?user_id={{ user.pk }}&next={% url 'view_user' user.pk %}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ add_project_form|as_bootstrap:"inline" }}
                    <input class="btn" type="submit" name="submit" id="submit" value="Add" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
