{% extends "timepiece/base.html" %}
{% load timepiece_tags %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ action.capitalize }} Hours for Time Sheet{% endblocktrans %}{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url change_person_time_sheet action timesheet_user.id from_date|date:"Y-m-d" %}">{% blocktrans %}{{ action.capitalize }} Timesheet{% endblocktrans %}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% blocktrans %}{{ action.capitalize }} Hours for Time Sheet{% endblocktrans %}</h2>
            <h3>
                {% blocktrans with name=timesheet_user.get_full_name from=from_date|date:"N j, Y" to=to_date|date:"N j, Y" %}Are you sure you want to {{ action }} all of {{ name }}'s timesheet, from {{ from }} to {{ to }}, which includes a total of {{ hours }} hours?{% endblocktrans %}
            </h3>
            {% if action == "approve" %}
                <p>{% blocktrans %}After entries have been approved they are ready to be submitted for payroll.{% endblocktrans %}</p>
            {% else %}
                <p>{% blocktrans %}After entries are verified they cannot be changed.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="do_action" value="{% trans "Yes" %}"/>
                <a href="{{ return_url }}"><input type="button" class="btn" value="{% trans "No" %}"/></a>
            </form>
        </div>
    </div>
{% endblock %}
