{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}{{ person }} Time Sheet{% endblock %}

{% block content %}
<h2>{{ person.first_name }} {{ person.last_name}}'s Time Sheet ({{ window.date|date:"N j" }} &mdash; {{ window.end_date|date:"N j" }})</h2>
<ul class='header-actions-left'>
    <li><a href='{% url view_person person.pk %}'>User Information</a></li>
    <li>
        {% if window.previous %}
            <a href='{% url view_person_time_sheet person.pk,window.period.pk,window.previous.pk %}'>Previous Time Sheet</a>
        {% else %}
            Previous Time Sheet
        {% endif %}
    </li>
    <li>
        {% if window.next %}
            <a href='{% url view_person_time_sheet person.pk,window.period.pk,window.next.pk %}'>Next Time Sheet</a>
        {% else %}
            Next Time Sheet
        {% endif %}
    </li>
    {% if perms.timepiece.export_project_time_sheet %}
    {# <li><a href='{% url export_project_time_sheet project.id,window.id %}'>Export as CSV</a></li> #}
    {% endif %}
    {% if show_verify %}<li><a href='{% url time_sheet_change_status 'verify',person.id,period.id,window.id %}'>Verify Time Sheet</a></li>{% endif %}
    {% if show_approve %}<li><a href='{% url time_sheet_change_status 'approve',person.id,period.id,window.id %}'>Approve Time Sheet</a></li>{% endif %}
</ul>

{% if weekly_entries %}
    <table>
        <tr>
            <th>Date</th>
            <th>Project</th>
            <th>Activity</th>
            <th>Location</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Breaks</th>
            <th>Hours</th>
        </tr>
            
        {% for entry, new_week, totals in weekly_entries %}
            {% if new_week %}
                <tr>
                    <th>Week of {% week_start entry.start_time %}</th>
                </tr>
            {% endif %}
            <tr>
                <td>{{ entry.start_time|date:"m/d/Y (D)" }}</td>
                <td>{{ entry.project.name }}</td>
                <td>{{ entry.activity.name }}</td>
                <td>{{ entry.location }}</td>
                <td>{{ entry.start_time|date:"P" }}</td>
                <td>{{ entry.end_time|date:"P" }}</td>
                <td>{{ entry.seconds_paused|seconds_to_hours }}</td>
                <td>{{ entry.hours }}</td>
                {% if entry.is_editable %}<td><a href="{% url timepiece-update entry.id %}?next={{ request.META.PATH_INFO|urlencode }}">Edit</a></td>{% endif %}
            </tr>    
            {% if totals %}
                <tr>
                    <td> Billable: 
                        {% if totals.0 %} {{totals.0}} {% else %} 0 {% endif %}
                    </td>
                    <td>Non-Billable: 
                        {% if totals.1 %} {{totals.1}} {% else %} 0 {% endif %}
                    </td>
                    <td>Total: 
                        {% if totals.2 %} {{totals.2}} {% else %} 0 {% endif %}
                    </td>
                <tr>
            {% endif %}                   
        {% endfor %}
        {{ weekly_totals }}
        <tr>
            <th colspan='7'>Total for this billing period:</th>
            <td>{{ total|floatformat:2 }}</td>
        </tr>
    </table>
{% else %}
    <p>No entries exist for this time sheet.</p>
{% endif %}

{% if project_entries %}
    <table id='person-summary'>
        <caption>Project Summary</caption>
    {% for entry in project_entries %}
        <tr>
            <td>{{ entry.project__name}} </td>
            <td>{{ entry.sum }}</td>
        </tr>
    {% endfor %}        
    </table>
{% endif %}

{% if activity_entries %}
    <table id='activity-summary'>
        <caption>Billable Summary</caption>
    {% for row in activity_entries %}
        <tr>
            <td>{% if row.billable %}Billable{% else %}Non-billable{% endif %}</td>
            <td>{{ row.sum }}</td>
        </tr>
    {% endfor %}        
    </table>
{% endif %}

<br style='clear: both' />

{% endblock %}
