{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}{{ person }} Hourly Summary{% endblock %}

{% block content %}
<h2>{{ person.first_name }} {{ person.last_name}}'s Hourly Summary ({{ window.date|date:"N j" }} &mdash; {{ window.end_date|date:"N j" }})</h2>
<ul class='header-actions-left'>
    <li>
        {% if perms.timepiece.view_user %}
            <a href='{% url view_person person.pk %}'>User Information</a>
        {% endif %}
    </li>
    <li>
        {% if perms.timepiece.view_user %}
            <a href='{% url view_person_time_sheet person.pk, window.period.pk, window.pk %}'>Time Sheet</a>
        {% endif %}
    </li>
    <li>
        {% if perms.timepiece.view_user %}
            Hourly Summary
        {% endif %}
    </li>
    <li>
        {% if window.previous %}
            <a href='{% url view_person_time_sheet person.pk,window.period.pk,window.previous.pk, hourly %}'>Previous Time Sheet</a>
        {% else %}
            Previous Time Sheet
        {% endif %}
    </li>
    <li>
        {% if window.next %}
            <a href='{% url view_person_time_sheet person.pk,window.period.pk,window.next.pk, hourly %}'>Next Time Sheet</a>
        {% else %}
            Next Time Sheet
        {% endif %}
    </li>
</ul>

{% if daily_totals %}
    <table>    
        <tr>
            <th colspan='2'>Date</th>
            <th colspan='2'>Project</th>
            <th colspan='2'>Hours</th>
        </tr>
        {% for day, data in daily_totals %}
            {% ifchanged day|date:"W" %}
                <tr>
                    <th colspan='3'>Week of {{ day|date:"m/d/Y (D)" }} </th>
                    <th>Billable:</th>
                    <th>Non Billable:</th>
                    <th>Total:</th>
                </tr>
            {% endifchanged %}
            <tr>
                {% ifchanged day %}
                    <td colspan='2'>{{ day|date:"m/d/Y (D)" }}</td>
                {% else %}
                    <td colspan='2'></td>
                {% endifchanged %}
                {% show_daily_row data %}
            </tr>
            {% if forloop.counter in week_rows %}
                <tr>
                    <th colspan='3'>Totals for this week:</th>
                    <th>Billable:</th>
                    <th>Non Billable:</th>
                    <th>Total:</th>
                </tr>
                <tr>
                    <th colspan='3'></th>
                    {% show_week_row weekly_totals day %}
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th colspan='5'>Overall total for the period:</th>
            <td>{{ total|floatformat:2 }}</td>
        </tr>
    </table>
{% else %}
    <p>No entries exist for this time sheet.</p>
{% endif %}

<br style='clear: both' />

{% endblock %}
