{% extends "base.html" %}

{% block title %}Member Login{% endblock %}

{% block content %}
<h2>Member Login</h2>

{% if next %}
<p class="error">You must log in before you can access this page!</p>
{% endif %}
{% if form.has_errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
  <table class="login">
    <tr>
      <td class="labels"><label for="id_username">Username:</label></td>
      <td class="elements">{{ form.username }}</td>
    </tr>
    <tr>
      <td class="labels"><label for="id_password">Password:</label></td>
      <td class="elements">{{ form.password }}</td>
    </tr>
    <tr>
      <td colspan="2" class="buttons">
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </td>
    </tr>
  </table>
</form>

<p>Don't have an account yet?  <a href="/accounts/register/">Create your own</a> now!  It's <strong>fast</strong>, <strong>easy</strong>, and <strong>free</strong>!</p>

{% endblock %}
