{% load url from future %}
<h2>
    {% if current == 'edit' %}
        {% trans "Edit Invoice for" %}
    {% endif %}
    {% if current == 'entries' %}
        {% trans "Entries for invoice of" %}
    {% endif %}
    {% if current == 'detail' %}
        {% trans "Invoice Details for" %}
    {% endif %}

    {% blocktrans %}{{ invoice.project.name }} hours{% endblocktrans %}
    {% if invoice.start %}
        {% blocktrans %}from {{ invoice.start }} to {{ invoice.end }}{% endblocktrans %}
    {% else %}
        {% blocktrans %}through {{ invoice.end }}{% endblocktrans %}{% endif %}
</h2>
<ul class="unstyled subnav">
    <li>
        <a href="{% url 'list_invoices' %}">{% trans "Previous Invoices" %}</a>
    </li>
    <li>
        {% if current != 'detail' %}
            <a href="{% url 'view_invoice' invoice.id %}">{% trans "View Invoice" %}</a>
        {% else %}
            {% trans "View Invoice" %}
        {% endif %}
    </li>
    <li>
        {% if current != 'edit' %}
            <a href="{% url 'edit_invoice' invoice.id %}">{% trans "Edit Invoice" %}</a>
        {% else %}
            {% trans "Edit Invoice" %}
        {% endif %}
    </li>
    <li>
        {% if current != 'entries' %}
            <a href="{% url 'view_invoice_entries' invoice.id %}">{% trans "Entries" %}</a>
        {% else %}
            {% trans "Entries" %}
        {% endif %}
    </li>
    <li>
        <a href="{% url 'view_invoice_csv' invoice.id %}">{% trans "Download CSV" %}</a>
    </li>
</ul>
