{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}
{% load url from future %}

{% block title %}Invoice Hours for Time Sheet{% endblock %}

{% block content %}
  <h2>Delete the invoice for {{ project.name }} hours 
      {% if from_date %}from {{ from_date }} to {{ to_date }}{% else %}through {{ to_date }}{% endif %}
  </h2>
  <br />
  <p>Deleting this invoice will return all associated entries to "approved" status. Are you sure you want to do this?</p>
  <form method="post">{% csrf_token %}
      <table class='vertical'>
        <tr>
          <td class='submit'>
            <input type='submit' value='Cancel' />
            <input type='submit' name='delete' value='Delete Invoice &rarr;' />
          </td>
        </tr>
      </table>
  </form>
<br />

<h3>Selected Entries</h3>
{% include 'timepiece/time-sheet/_weekly_entry_list.html' %}
{% endblock %}
