from .base import *


DEBUG = True

TEMPLATE_DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'timepiece',
        'USER': 'timepiece',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

INTERNAL_IPS = ('127.0.0.1',)

# Email addresses to send notices to, e.g. when pending contract hours
# are entered.
#ACCOUNTING_EMAILS = ["accounting@example.com"]
