{% extends 'pendulum/pendulum_base.html' %}

{% block title %}Pendulum Entries{% endblock %}

{% block content %}
<h2>Pendulum Entries</h2>

{{ block.super }}

<table id="entry-table">
    <tr>
        <th colspan="7">
            <a href="{% url pendulum-previous-entries previous_period %}" title="Go to the previous period">&laquo;</a>
            {{ period.0|date:"N j, Y" }} -
            {{ period.1|date:"N j, Y" }}
            {% if has_next %}
            <a href="{% url pendulum-previous-entries next_period %}" title="Go to the next period">&raquo;</a>
            {% else %}
            &raquo;
            {% endif %}
        </th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hours</th>
        <th>Project</th>
        <th colspan="2">Activity</th>
    </tr>
    {% for entry in entries %}<tr class="{% cycle odd,even as rowclass %}">
        <td class="entry-date">
            {% if entry.is_closed %}<a href="{% url pendulum-update entry.id %}" title="Update this entry">{% endif %}{{ entry.start_time|date:"d M Y" }}{% if entry.is_closed %}</a>{% endif %}
        </td>
        <td class="entry-start">{{ entry.start_time|date:"P" }}</td>
        <td class="entry-end">{% if entry.end_time %}
            {{ entry.end_time|date:"P" }}{% else %}
            <a href="{% url pendulum-clock-out entry.id %}">Clock Out</a>
        {% endif %}</td>
        <td class="entry-hours">{% if entry.end_time %}
            {{ entry.hours }}{% else %}
            {% if entry.is_paused %}
            <a href="{% url pendulum-toggle-paused entry.id %}">Unpause</a>
            {% else %}
            <a href="{% url pendulum-toggle-paused entry.id %}">Pause</a>
            {% endif %}
        {% endif %}</td>
        <td class="entry-project">{{ entry.project }}</td>
        <td class="entry-activity">
            {% if entry.activity.code %}
            {{ entry.activity.code }}
            {% else %}
            ...
            {% endif %}
        </td>
        <td class="entry-admin">
            {% if entry.is_closed %}<a href="{% url pendulum-update entry.id %}">&delta;</a>{% endif %}
            <a href="{% url pendulum-delete entry.id %}">&times;</a>
        </td>
    </tr>
    {% if entry.comments %}<tr class="{{ rowclass }}">
        <td colspan="6" class="entry-comments">{{ entry.comments }}</td>
    </tr>{% endif %}{% endfor %}
</table>

{% endblock %}
