{% extends "timepiece/project/activity_goal/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
        <a href="{% url 'view_project' project.id %}">{{ project.code }}</a>
        
        <span class="divider">/</span>
        {% if not object %}
            <a href="">Create Activity Goal</a>
        {% else %}
            <a href="{% url 'edit_activity_goal' object.project.id object.pk %}">Edit Activity Goal</a>
        {% endif %}
    </li>
{% endblock crumbs %}

{% block title %}{% if not object %}Create {% else %}Edit {% endif %}Activity Goal{% endblock title %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% if not object %}Create {% else %}Edit {% endif %}Activity Goal</h2>

            <br style="clear: both;" />

            <form id="create-edit-project" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="project_label">Project</label>
                    <div class="controls">
                        <label id="project_label" name="project_label" type="text">
                            <h4>{{ project.code }}: {{ project.name }}</h4>
                        </label>
                    </div>
                </div>

                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type='submit' name='submit' value='Save' />
                    <input class="btn" type='button' value='Cancel' onclick='history.go(-1)' />
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
