{% extends 'timepiece/contract/base.html' %}
{% load timepiece_tags %}
{% load url from future %}

{% block title %}Current Contracts{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Current Contracts</h2>

            <table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Time Frame</th>
                        <th>Hours Worked</th>
                        <th>Contract Hours</th>
                        <th>Percent Complete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contract in contracts %}
                        <tr>
                            <td><a href="{% url 'view_contract' contract.id %}">{{ contract.name }}</a></td>
                            <td>{{ contract.start_date|date:'M d, Y' }} - {{ contract.end_date|date:'M d, Y' }}</td>
                            <td class="hours">{{ contract.hours_worked }}</td>
                            <td class="hours">{{ contract.num_hours }}</td>
                            <td class="hours">{% widthratio contract.hours_worked contract.num_hours 100 %}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
