{% extends 'timepiece/contract/base.html' %}
{% load timepiece_tags humanize %}
{% load url from future %}

{% block title %}{{ contract }}{% endblock title %}
{% block bodyid %}contracts{% endblock bodyid %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_contract' contract.pk %}">{{ contract }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ contract }}</h2>
            <ul class="nav nav-pills">
                {% if perms.contracts.change_projectcontract %}  {# FIXME: permission doesn't exist #}
                    <li><a href="{% url 'edit_contract' contract.id %}">Edit</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span4">
            <h3>Contract Info</h3>
            <table class="table table-bordered">
                <tr><th>Status</th><td>{{ contract.get_status_display }}</td></tr>
                <tr><th>Start Date</th><td>{{ contract.start_date|date:'M j, Y' }}</td></tr>
                {% if contract.end_date < today %}
                    <tr class="expired" title="This contract has expired.">
                {% elif contract.end_date < warning_date %}
                    <tr class="expiring-soon" title="This contract will expire in less than two weeks.">
                {% else %}
                    <tr>
                {% endif %}
                    <th>End Date</th>
                    <td{% if contract.end_date < today %} class="past"{% endif %}>
                        {{ contract.end_date|date:'M j, Y' }}
                        {% if contract.end_date >= today and contract.end_date < warning_date %}
                            <i class="icon-warning-sign"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Contract {{ contract.get_cieling_type_display }}</th>
                    <td>
                        {{ contract.contracted_hours|floatformat:2 }}
                        {% if contract.pending_hours %}
                            <span class="pending_hours">(+{{ contract.pending_hours }})</span>
                        {%  endif %}</td>
                    </td>
                </tr>
                <tr><th>Hours Worked (billable)</th>
                    <td>
                        {{ contract.hours_worked|floatformat:2 }}
                        ({% widthratio contract.value_expended contract.contract_value 100 %}%)
                    </td>
                </tr>
                <tr><th>{{ contract.get_ceiling_type_display }} Remaining</th><td>{{ contract.display_value_remaining|intcomma }}</td></tr>
                <tr><th>Type</th><td>{{  contract.get_type_display }}</td></tr>
                <tr><th>Payment Terms</th><td> {{contract.get_payment_terms_display }}</td></tr>
            </table>

            <h3>Contract Rates</h3>
            <ul class="nav nav-pills">
                {% if perms.contracts.add_contractrate %}
                    <li><a href="{% url 'add_contract_rate' contract.id %}">Add Rate</a></li>
                {% endif %}
            </ul>
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>Activity</th>
                    <th>Rate</th>
                    <th>Charged Hours</th>
                </tr>
                {% for cr in contract.get_rates %}
                <tr>
                    <th class="nowrap">
                        {% if perms.contracts.change_contractrate %}
                        <a href="{% url 'edit_contract_rate' contract.id cr.id %}" title="Edit Contract Rate."><i class="icon-pencil"> </i></a>
                        {% endif %}
                        {% if perms.contracts.delete_contractrate %}
                        <a href="{% url 'delete_contract_rate' contract.id cr.id %}" title="Delete Contract Rate."><i class="icon-trash"> </i></a>
                        {% endif %}
                    </th>
                    <th>{{ cr.activity }}</th>
                    <td>{{ cr.rate }}</td><td>{{ cr.get_hours|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr><th colspan=4>There are no rates setup for the contract.</th></tr>
                {% endfor %}
                {% for mr in contract.missing_rates %}
                {% if forloop.first %}
                <tr class="error">
                    <th colspan=4>
                    The following activities have hours charged against them with no assigned contract rate.  The minimum available rate is being used for calculating amount invoiced against the contract.
                    </th>
                </tr>
                {% endif %}
                <tr class="error">
                    <th>
                        {% if perms.contracts.add_contractrate %}
                        <a href="{% url 'add_contract_rate' contract.id %}?activity={{ mr.activity.id }}" title="Add Contract Rate"><i class="icon-plus"> </i></a>
                        {% endif %}
                    </th>
                    <th>{{ mr.activity }}</th>
                    <td>{{ mr.rate }}</td><td>{{ mr.hours|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="span7 offset1">
            <h3>Projects</h3>
            {% if contract.projects.exists %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">Name</th>
                        <th colspan="2">Hours Worked</th>
                        <th rowspan="2">Time Sheet</th>
                        <th rowspan="2">Hours Report</th>
                    </tr>
                    <tr>
                        <th>Billable</th>
                        <th>Non-billable</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in contract.projects.all %}
                        {% project_hours_for_contract contract project 'billable' as project_hours %}
                        {% project_hours_for_contract contract project 'nonbillable' as nonbillable_hours %}
                        <tr>
                            <td><a href="{% url 'view_project' project.pk %}">{{ project.code }}: {{ project.name }}</a></td>
                            <td class="hours">{{ project_hours|floatformat:'2' }}</td>
                            <td class="hours">{{ nonbillable_hours|floatformat:'2' }}</td>
                            <td><a href="{% url 'view_project_timesheet' project.id %}">Time Sheet</a></td>
                            <td><a href="{% project_report_url_for_contract contract project %}">Hours Report</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This contract is not associated with any projects.</p>
            {% endif %}
        </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>Contract {{ contract.get_ceiling_type_display }}</h3>
            <ul class="nav nav-pills">
                {% if perms.contracts.add_contractincrement %}
                    <li><a href="{% url 'add_contract_increment' contract.id %}">Add {{ contract.get_ceiling_type_display }}</a></li>
                {% endif %}
            </ul>
            <table class='table table-bordered'>
                <tr>
                    <th></th>
                    <th>Date Requested</th>
                    <th>{{ contract.get_ceiling_type_display }}</th>
                    <th>Status</th>
                    <th>Date Approved</th>
                    <th>Notes</th>
                </tr>
                {% for increment in contract.increments %}
                    <tr>
                        <td>
                            {% if perms.contracts.change_contractincrement %}
                            <a href="{{ increment.edit_url }}" title="Edit Contract {{ contract.get_ceiling_type_display }}."><i class="icon-pencil"> </i></a>
                            {% endif %}
                            {% if perms.contracts.delete_contractincrement %}
                            <a href="{{ increment.delete_url }}" title="Delete Contract {{ contract.get_ceiling_type_display }}."><i class="icon-trash"> </i></a>
                            {% endif %}
                        </td>
                        <td>{{ increment.date_requested }}</td>
                        <td class="hours">{{ increment.value|intcomma }}</td>
                        <td>{{ increment.get_status_display }}</td>
                        <td>{% if increment.date_approved %}{{ increment.date_approved }}{% endif %}</td>
                        <td>{{ increment.notes }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content %}
