{% extends 'timepiece/contract/base.html' %}
{% load timepiece_tags humanize bootstrap_toolkit %}
{% load url from future %}

{% block title %}{{ contract }}{% endblock title %}
{% block bodyid %}contracts{% endblock bodyid %}

{% block extracss %}
<link href="{{ STATIC_URL }}s3.jquery.fine-uploader/fine-uploader-new.min.css" rel="stylesheet" type="text/css" />
{% endblock extracss %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'view_contract' contract.pk %}">{{ contract }}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ contract }}</h2>
        </div>
    </div>

    <div class="row-fluid">
      <div class="span8">
      <div class="row-fluid">
        <div class="span6">
            <h3>Contract Info</h3>
            <ul class="nav nav-pills">
                {% if perms.contracts.change_projectcontract %}  {# FIXME: permission doesn't exist #}
                    <li><a href="{% url 'edit_contract' contract.id %}">Edit</a></li>
                {% endif %}
            </ul>
            <table class="table table-bordered">
                <tr><th>Status</th><td>{{ contract.get_status_display }}</td></tr>
                <tr><th>Start Date</th><td>{{ contract.start_date|date:'M j, Y' }}</td></tr>
                {% if contract.end_date < today %}
                    <tr class="expired" title="This contract has expired.">
                {% elif contract.end_date < warning_date %}
                    <tr class="expiring-soon" title="This contract will expire in less than two weeks.">
                {% else %}
                    <tr>
                {% endif %}
                    <th>End Date</th>
                    <td{% if contract.end_date < today %} class="past"{% endif %}>
                        {{ contract.end_date|date:'M j, Y' }}
                        {% if contract.end_date >= today and contract.end_date < warning_date %}
                            <i class="icon-warning-sign"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr><th>Contract {{ contract.get_ceiling_type_display }}</th>
                    <td>
                        {{ contract.contracted_hours|floatformat:2 }}
                        {% if contract.pending_hours %}
                            <span class="pending_hours">(+{{ contract.pending_hours }})</span>
                        {%  endif %}</td>
                    </td>
                </tr>
                <tr><th>Hours Worked (billable)</th>
                    <td>
                        {{ contract.hours_worked|floatformat:2 }}
                        ({% widthratio contract.value_expended contract.contract_value 100 %}%)
                    </td>
                </tr>
                <tr><th>{{ contract.get_ceiling_type_display }} Remaining</th><td>{{ contract.display_value_remaining|intcomma }}</td></tr>
                <tr><th>Type</th><td>{{  contract.get_type_display }}</td></tr>
                <tr><th>Payment Terms</th><td> {{contract.get_payment_terms_display }}</td></tr>
                <tr>
                    <th>Client Expense Category</th>
                    <td>{{ contract.get_client_expense_category_display }}</td>
                </tr>
                <tr>
                    <th>Primary Contact</th>
                    <td><a href="{% url 'view_contact' contract.primary_contact.pk %}">{{ contract.primary_contact }}</a></td>
                </tr>
                <tr>
                    <th>PO Number</th>
                    <td>{{ contract.po_number }}</td>
                </tr>
                {% if contract.po_line_item %}
                <tr>
                    <th>PO Line Item</th>
                    <td>{{ contract.po_line_item }}</td>
                </tr>
                {% endif %}
            </table>
        </div>

        <div class="span6">
            <h3>Contract Rates</h3>
            <ul class="nav nav-pills">
                {% if perms.contracts.add_contractrate %}
                    <li><a href="{% url 'add_contract_rate' contract.id %}">Add Rate</a></li>
                {% endif %}
            </ul>
            <table class="table table-bordered">
                <tr>
                    <th></th>
                    <th>Activity</th>
                    <th>Rate</th>
                    <th>Charged Hours</th>
                </tr>
                {% for cr in contract.get_rates %}
                <tr>
                    <th class="nowrap">
                        {% if perms.contracts.change_contractrate %}
                        <a href="{% url 'edit_contract_rate' contract.id cr.id %}" title="Edit Contract Rate."><i class="icon-pencil"> </i></a>
                        {% endif %}
                        {% if perms.contracts.delete_contractrate %}
                        <a href="{% url 'delete_contract_rate' contract.id cr.id %}" title="Delete Contract Rate."><i class="icon-trash"> </i></a>
                        {% endif %}
                    </th>
                    <th>{{ cr.activity }}</th>
                    <td>{{ cr.rate }}</td><td>{{ cr.get_hours|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr><th colspan=4>There are no rates setup for the contract.</th></tr>
                {% endfor %}
                {% for mr in contract.missing_rates %}
                {% if forloop.first %}
                <tr class="error">
                    <th colspan=4>
                    The following activities have hours charged against them with no assigned contract rate.  The minimum available rate is being used for calculating amount invoiced against the contract.
                    </th>
                </tr>
                {% endif %}
                <tr class="error">
                    <th>
                        {% if perms.contracts.add_contractrate %}
                        <a href="{% url 'add_contract_rate' contract.id %}?activity={{ mr.activity.id }}" title="Add Contract Rate"><i class="icon-plus"> </i></a>
                        {% endif %}
                    </th>
                    <th>{{ mr.activity }}</th>
                    <td>{{ mr.rate }}</td><td>{{ mr.hours|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
            <h3>Contract {{ contract.get_ceiling_type_display }}</h3>
            <ul class="nav nav-pills">
                {% if perms.contracts.add_contractincrement %}
                    <li><a href="{% url 'add_contract_increment' contract.id %}">Add {{ contract.get_ceiling_type_display }}</a></li>
                {% endif %}
            </ul>
            <table class='table table-bordered'>
                <tr>
                    <th></th>
                    <th>Date Requested</th>
                    <th>{{ contract.get_ceiling_type_display }}</th>
                    <th>Status</th>
                    <th>Date Approved</th>
                    <th>Notes</th>
                </tr>
                {% for increment in contract.increments %}
                    <tr>
                        <td style="white-space: nowrap;">
                            {% if perms.contracts.change_contractincrement %}
                            <a href="{{ increment.edit_url }}" title="Edit Contract {{ contract.get_ceiling_type_display }}."><i class="icon-pencil"> </i></a>
                            {% endif %}
                            {% if perms.contracts.delete_contractincrement %}
                            <a href="{{ increment.delete_url }}" title="Delete Contract {{ contract.get_ceiling_type_display }}."><i class="icon-trash"> </i></a>
                            {% endif %}
                        </td>
                        <td>{{ increment.date_requested }}</td>
                        <td class="hours">{{ increment.value|intcomma }}</td>
                        <td>{{ increment.get_status_display }}</td>
                        <td>{% if increment.date_approved %}{{ increment.date_approved }}{% endif %}</td>
                        <td>{{ increment.notes }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
      </div>
      </div>
        <div class="span4">
            {% url 'view_contract' object.id as next_url %}
            <h3>Tags</h3>
            <div id="tags">
            {% if object.tags.all|length %}
            {% for tag in object.tags.all %}
            <span class="label label-info">
                <a href="{% url 'similar_items' tag.id %}"> <i class="icon-magnet icon-white icon-small"> </i></a>
                {{ tag }}
                {% if perms.crm.change_project %}
                <a class="remove_tag"> <i class="icon-remove icon-white icon-small"> </i></a>
                {% endif %}
            </span>
            {% endfor %}
            {% else %}
            <br/><em>There are no tags for this project yet.</em>
            {% endif %}
            </div>
            <form id="add_tag_form">
                <div style="margin-top: 12px;">
                    <input id="new_tag" type="text" />
                    <input id="add_tag_button" class="btn btn-primary" type="submit" value="Add" />
                </div>
            </form>

            <h3>Attachments</h3>
            <div id="attachment-list">
            <div id="fine-uploader">
              <noscript>
                <p>Please enable JavaScript to use file uploader.</p>
              </noscript>
            </div>
            <small>Drag and drop a file above to attach it.</small>
            {% if object.get_attachments|length %}
            {% for attachment in object.get_attachments %}
            <blockquote>
            <p><a href="{% url 'download_contract_attachment' object.id attachment.id %}" target="_blank">{{ attachment.filename }}</a></p>
            <small>{{ attachment.uploader }} @ {{ attachment.upload_datetime }}</small>
            </blockquote>
            {% endfor %}
            {% else %}
            <br/><em>There are no attachments for this ticket yet.</em>
            {% endif %}
            </div>

            {% url 'view_contract' object.pk as next_url %}
            <h3>Notes</h3>
            <form class="form-inline" action="{% url 'add_contract_note' object.id %}?next={{ next_url }}" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ add_contract_note_form|as_bootstrap }}
                <input class="btn btn-primary" type="submit" value="Add" />
            </form>
            <ul>
                {% for note in object.get_notes %}
                <li><strong>{{ note.author }} @ {{ note.last_edited }}</strong><br/>{{ note.text|linebreaks }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>Open General Tasks</h3>
            {% if perms.contracts.change_projectcontract %}
                <form class="form-inline" action="{% url 'contract_add_general_task' object.id %}?next={{ next_url|add_parameters:request.GET|urlencode }}" method="post" accept-charset="utf-8">
                    {% csrf_token %}
                    {{ add_general_task_form|as_bootstrap:"inline" }}
                    <input class="btn btn-primary" type="submit" value="Add" />

                    {% if perms.workflow.add_generaltask %}
                    <a class="btn btn-success" href="{% url 'create_general_task' %}?contract={{ object.id }}&next={{ next_url|add_parameters:request.GET|urlencode }}">Create New General Task for this Contract</a>
                    {% endif %}
                </form>
            {% endif %}
            <table class='table table-bordered table-striped table-condensed'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Ticket ID</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Create</th>
                        <th>Due Date /<br/>Scheduled</th>
                        <th>Assigned To</th>
                        <th>Last Activity</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for general_task in object.open_general_tasks %}
                        <tr>
                            <td>
                                <a href="{% url 'contract_remove_general_task' object.id %}?general_task_id={{ general_task.id }}&next={{ next_url }}"><i class="icon-remove-circle" title="Remove {{ general_task }} from this Contract."> </i></a>
                            </td>
                            <td style="white-space: nowrap">
                                <a href="{% url 'view_general_task' general_task.id %}" target="_blank">{{ general_task.form_id }}
                            </td>
                            <td style="white-space: nowrap ;text-align: center;">
                                <span class="label label-{{ general_task.priority }}">{{ general_task.get_priority_display }}</span>
                            </td>
                            <td style="white-space: nowrap">
                                <span class="label {{ general_task.status.label_style}}">{{ general_task.status }}</span>
                            </td>
                            <td style="white-space: nowrap">
                                {{ general_task.created_by }} @<br/>
                                {{ general_task.created_at|date:"N j, P" }}
                            </td>
                            <td style="white-space: nowrap">
                                {{ general_task.requested_date }}<br/>
                                {{ general_task.scheduled|date }}
                            </td>
                            <td style="white-space: nowrap">
                                {{ general_task.assignee }}
                                {% if not general_task.status.terminal and perms.workflow.assign_general_task %}
                                    <a href='{% url "assign_general_task" general_task.pk %}?next={{ next_url }}' title="Change assigned user"><i class="icon-pencil"></i> </a>
                                {% endif %}
                            </td>
                            <td>{{ general_task.last_user }} @ {{ general_task.last_activity|date:"N j, P" }}</td>
                            <td>{{ general_task.description|truncatewords:12 }}</td>
                        </tr>
                    {% empty %}
                    <tr><td colspan=9>There are no General Tasks associated with this Contract.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>Projects</h3>
            {% if contract.projects.exists %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">Status</th>
                        <th colspan="2">Hours Worked</th>
                        <th rowspan="2">Time Sheet</th>
                        <th rowspan="2">Hours Report</th>
                    </tr>
                    <tr>
                        <th>Billable</th>
                        <th>Non-billable</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in contract.projects.all %}
                        {% project_hours_for_contract contract project 'billable' as project_hours %}
                        {% project_hours_for_contract contract project 'nonbillable' as nonbillable_hours %}
                        <tr>
                            <td><a href="{% url 'view_project' project.pk %}">{{ project.code }}: {{ project.name }}</a></td>
                            <td>{{ project.status }}</td>
                            <td class="hours">{{ project_hours|floatformat:'2' }}</td>
                            <td class="hours">{{ nonbillable_hours|floatformat:'2' }}</td>
                            <td><a href="{% url 'view_project_timesheet' project.id %}">Time Sheet</a></td>
                            <td><a href="{% project_report_url_for_contract contract project %}">Hours Report</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This contract is not associated with any projects.</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extrajs %}
<script src="{{ STATIC_URL }}s3.jquery.fine-uploader/s3.jquery.fine-uploader.min.js" ></script>
<script src="{{ STATIC_URL }}project-toolbox/js/tags.js" ></script>

<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
        <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
        </div>
        <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
            <span class="qq-upload-drop-area-text-selector"></span>
        </div>
        <div class="qq-upload-button-selector qq-upload-button">
            <div>Upload a file</div>
        </div>
        <span class="qq-drop-processing-selector qq-drop-processing">
            <span>Processing dropped files...</span>
            <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
        </span>
        <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <span class="qq-upload-size-selector qq-upload-size"></span>
                <button class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancel</button>
                <button class="qq-btn qq-upload-retry-selector qq-upload-retry">Retry</button>
                <button class="qq-btn qq-upload-delete-selector qq-upload-delete">Delete</button>
                <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>

        <dialog class="qq-alert-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">Close</button>
            </div>
        </dialog>

        <dialog class="qq-confirm-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">No</button>
                <button class="qq-ok-button-selector">Yes</button>
            </div>
        </dialog>

        <dialog class="qq-prompt-dialog-selector">
            <div class="qq-dialog-message-selector"></div>
            <input type="text">
            <div class="qq-dialog-buttons">
                <button class="qq-cancel-button-selector">Cancel</button>
                <button class="qq-ok-button-selector">Ok</button>
            </div>
        </dialog>
    </div>
</script>

<script>
ATTACHMENT_COUNT = {% if object %}{{ object.get_attachments|length }}{% elif attachments %}{{ attachments|length }}{% else %}0{% endif %};
var uploader = new qq.s3.FineUploader({
    debug: true,
    element: document.getElementById('fine-uploader'),
    request: {
        endpoint: 'https://{{ AWS_UPLOAD_BUCKET_NAME }}.s3.amazonaws.com',
        accessKey: '{{ AWS_CLIENT_ACCESS_KEY }}',
        params: {
            'user': '{{ request.user }}',
            'username': '{{ request.user.username }}',
            'firmbase-userid': '{{ request.user.id }}',
            'user-email': '{{ request.user.email }}'
        }
    },
    objectProperties: {
        serverSideEncryption: true
    },
    signature: {
        endpoint: '{% url "ajaxuploader:s3_signature" %}'
    },
    uploadSuccess: {
        endpoint: '{% url "s3_contract_attachment" object.id %}'
    },
    iframeSupport: {
        localBlankPagePath: '/success.html'
    },
    deleteFile: {
        enabled: true,
        endpoint: '{% url "ajaxuploader:s3_delete" %}'
    },
    callbacks: {
        onUpload: function (id, name) {
            console.log('onUpload', id, name);
        },
        onSubmitted: function (id, name) {
            console.log('onSubmitted', id, name);
        },
        onDeleteComplete: function (id, xhr, isError) {
            var regex = new RegExp("[\\?&]key=([^&#]*)");
            var delete_url = xhr['responseURL'];
            var results = regex.exec(delete_url);
            var uuid = results[1];
            $('#att-' + id).remove();
            $.ajax('/timepiece/contract/{{ object.id }}/attachment/' + uuid + '/delete');
        },
        onComplete: function (id, name, response, xhr) {
            if(response.success) {
                ATTACHMENT_COUNT += 1;
                html = '<blockquote id="att-' + id + '">' +
                           '<p>' + name + '</p>' +
                           '<small>{{ user }} @ now</small>' +
                        '</blockquote>';
                $('#attachment-list').append(html);
                $("#no-attachments").remove();
            } else {
                console.log('fail', id, name, response);
            }
        }
    }
});
</script>
<script>
$(document).ready( function () {
    create_remove_tag_handler("{% url 'remove_contract_tag' object.id %}");
    create_add_tag_handler("{% url 'contract_tags' object.id %}");
});
</script>
{% endblock extrajs %}
