{% extends "timepiece/base.html" %}
{% load timepiece_tags %}

{% block title %}{{ action.capitalize }} Hours for Time Sheet{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url 'change_user_timesheet' timesheet_user.id action %}?from_date={{ from_date|date:"Y-m-d" }}">{{ action.capitalize }} Time Sheet</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{ action.capitalize }} Hours for Time Sheet</h2>
            <h3>
                Are you sure you want to {{ action }} all of {{ timesheet_user.get_name_or_username }}'s time sheet,
                from {{ from_date|date:"N j, Y" }} to {{ to_date|date:"N j, Y" }}, which includes a total of {{ hours|floatformat:2 }} hours?
            </h3>
            {% if action == "approve" %}
                <p>After entries have been approved they are ready to be submitted for payroll.</p>
            {% else %}
                <p>After entries are verified they cannot be changed.</p>
            {% endif %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form method="post">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" name="do_action" value="Yes"/>
                <a href="{{ return_url }}"><input type="button" class="btn" value="No"/></a>
            </form>
        </div>
    </div>
{% endblock content %}
