{% extends "timepiece/base.html" %}
{% load url from future %}
{% load timepiece_tags %}

{% block title %}
    {{ timesheet_user.get_name_or_username }} - {{ this_month|date:"F Y" }}
{% endblock title %}

{% block breadcrumb %}{% endblock breadcrumb %}

{% block extracss %}
<link rel="stylesheet"
        href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<link rel="stylesheet"
        href="{{ STATIC_URL }}timepiece/less/timesheet.css">
{% endblock extracss %}

{% block extrajs %}
<script src="{{ STATIC_URL }}timepiece/js/ajax.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

{# Underscore templates. #}
<script type="text/template" id="week-template">
    {% include "timepiece/user/timesheet/inc/week.html" %}
</script>
<script type="text/template" id="entry-row-template">
    {% include "timepiece/user/timesheet/inc/entry_row.html" %}
</script>
<script type="text/template" id="project-summary-template">
    {% include "timepiece/user/timesheet/inc/project_summary.html" %}
</script>
<script type="text/template" id="weekly-summary-template">
    {% include "timepiece/user/timesheet/inc/weekly_summary.html" %}
</script>
<script type="text/template" id="paid-leave-summary-template">
    {% include "timepiece/user/timesheet/inc/paid_leave_summary.html" %}
</script>

<script>
    var this_month = new Date("{{ this_month|date:'r' }}"),
        next_month = new Date("{{ next_month|date:'r' }}"),
        api_url = "{% url 'timesheet_entries_api' timesheet_user.pk %}",
        entry_statuses = "{{ entry_statuses|safe|escapejs }}",
        raw_entries = "{{ entries_data|safe|escapejs }}",
        verify_url = "{% url 'verify_timesheet_entries' timesheet_user.pk %}",
        reject_url = "{% url 'reject_timesheet_entries' timesheet_user.pk %}",
        approve_url = "{% url 'approve_timesheet_entries' timesheet_user.pk %}",
        weeks = JSON.parse("{{ weeks|safe|escapejs }}");
</script>
<script src="{{ STATIC_URL }}timepiece/js/timesheet/utils.js"></script>
<script src="{{ STATIC_URL }}timepiece/js/timesheet/models.js"></script>
<script src="{{ STATIC_URL }}timepiece/js/timesheet/views.js"></script>
<script>
    $(function() {
        var timesheet = new Timesheet({
            collection: new EntryCollection(JSON.parse(raw_entries))
        });
    });
</script>
{% endblock extrajs %}

{% block content %}
<div class="page-header">
    <h1>{{ timesheet_user.get_name_or_username }} - {{ this_month|date:"F Y" }}</h1>
</div>

<div class="tabbable">
    <div class="top-actions clearfix">
        <div class="btn-toolbar pull-left">
            <div class="btn-group">
                <button class="btn" data-toggle="tooltip" title="Add Entry">
                    <i class="icon icon-plus"></i>
                    Add Entry
                </button>
            </div>
            <div class="btn-group">
                <button class="btn verify" data-toggle="tooltip" title="Verify All">
                    <i class="icon-white icon-ok"></i>
                    Verify All
                </button>
            </div>
            <div class="btn-group">
                <button class="btn approve" data-toggle="tooltip" title="Approve All">
                   <i class="icon-white icon-thumbs-up"></i>
                    Approve All
                </button>
                <button class="btn reject" data-toggle="tooltip" title="Reject All">
                    <i class="icon icon-thumbs-down"></i>
                    Reject All
                </button>
            </div>
        </div>
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a class="btn" href="{% user_timesheet_url timesheet_user.pk last_month %}">
                    <i class="icon icon-arrow-left"></i>
                    {{ last_month|date:"F" }}
                </a>
                <a class="btn" href="{% user_timesheet_url timesheet_user.pk next_month %}">
                    {{ next_month|date:"F" }}
                    <i class="icon icon-arrow-right"></i>
                </a>
            </div>
            <div class="btn-group">
                <a class="btn" href="#select-month" role="button" data-toggle="modal">
                    <i class="icon icon-calendar"></i>
                    Other month...
                </a>
            </div>
            <div id="select-month" class="modal hide fade">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Select month</h3>
                </div>
                <div class="modal-body">
                     <form method="get" class="form-inline"
                           action="{{ timesheet_user.get_timesheet_url }}">
                        {{ month_form.month }}
                        {{ month_form.year }}
                        <button type="submit" class="btn">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li{% if active_tab == "overview" %} class="active"{% endif %}>
            <a href="#overview" data-toggle="tab">Overview</a>
        </li>
        <li{% if active_tab == "all-entries" %} class="active"{% endif %}>
            <a href="#all-entries" data-toggle="tab">All Entries</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="overview"
                class="tab-pane{% if active_tab == 'overview' %} active{% endif %}">
        </div>

        <div id="all-entries"
                class="tab-pane{% if active_tab == 'all-entries' %} active{% endif %}">
        </div>
    </div>
</div>
{% endblock content %}
