{% extends "timepiece/base.html" %}

{% block title %}Visualization{% endblock title %}

{% block extracss %}
<style type="text/css">

</style>
{% endblock extracss %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div id="timeline" class="timeline"></div>
    </div>
</div>

<script src="http://d3js.org/d3.v2.min.js"></script>
<script src="{{ STATIC_URL }}timepiece/js/dashboard/dashboard.js"></script>
<script src="{{ STATIC_URL }}timepiece/js/dashboard/todays_work.js" data-entries=""></script>

{% endblock content %}
