{% extends "timepiece/base.html" %}

{% block title %}Visualization{% endblock title %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Hours This Week</h1>
        <div id="weekly-hours">
            <div id="hours1" class="bar"></div>
            <div id="hours2" class="bar"></div>
            <div id="hours3" class="bar"></div>
            <div id="hours4" class="bar"></div>
        </div>
    </div>
</div>

<script src="http://d3js.org/d3.v2.min.js"></script>
<script src="{{ STATIC_URL }}comps/js/weeks_work.js"></script>

{% endblock content %}
