{% extends 'timepiece/time-sheet/base.html' %}

{% block title %}Clock In{% endblock %}

{% block content %}
<h2>Clock Into Project</h2>
<br />
<form action="{% url timepiece-clock-in %}" method="post">
    {% csrf_token %}
    <table class='vertical'>
        {{ form }}
        <tr>
            <td>&nbsp;</td>
            <td class='submit'>
                <input type='button' value='Cancel' onclick='history.go(-1)' />
                &nbsp;
                <input type='submit' name='submit' value='Clock In &rarr;' />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
