{% extends 'timepiece/time-sheet/base.html' %}
{% load i18n %}

{% block title %}{% trans "Delete Entry" %}{% endblock %}

{% block crumbs %}
    {{ block.super }}
    <li><span class="divider">/</span> <a href="{% url timepiece-delete entry.pk %}">{% trans "Delete Entry" %}</a></li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% trans "Delete Entry" %}</h2>

            <br style="clear: both;" />

            <form class="form-inline" action="{% url timepiece-delete entry.id %}" method="post">
                {% csrf_token %}
                <h3>{% trans "Are you sure you want to delete this entry?" %}</h3>
                <input type="hidden" name="key" value="{{ entry.delete_key }}" />
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="{% trans "Yes" %}" />
                    <input class="btn" type="button" value="{% trans "No" %}" onclick="window.location='{% url timepiece-entries %}'" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
