{% extends 'timepiece/time-sheet/base.html' %}

{% block title %}{% trans "Reject Entry" %}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% trans "Reject Entry" %}</h2>

            <br style="clear: both;" />

            <form class="form-inline" action="" method="post">
                {% csrf_token %}
                <h3>{% blocktrans %}Are you sure you want to reject this entry?{% endblocktrans %}</h3>
                <input type="hidden" name="next" value="{{ next }}" />
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" name="Yes" value="{% trans "Yes" %}" />
                    <input class="btn" type="button" value="{% trans "No" %}" onclick="javascript:history.go(-1)" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
