{% extends 'timepiece/time-sheet/base.html' %}

{% block title %}Reject Entry{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>Reject Entry</h2>
            <form action="" method="post">
                {% csrf_token %}
                <h3>Are you sure you want to reject this entry?</h3>
                <br />
                <input class="btn" type="submit" name="Yes" value="Yes" />
                <input class="btn" type="button" value="No" onclick="javascript:history.go(-1)" />
                <input class="btn" type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock %}
