{% extends 'base.html' %}

{% block extracss %}
{% endblock %}

{% block staticfiles %}
    {% load compress %}
    {% if debug %}
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}timepiece/less/style.less" />
        <script src="{{ STATIC_URL }}timepiece/js/less-1.3.0.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}timepiece/less/style.less" />
        {% endcompress %}
    {% endif %}
{% endblock staticfiles %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}timepiece/css/style.css" type="text/css" />
<link charset='UTF-8' rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/books.css" />
{% endblock %}
