{% extends "metabase.html" %}
{% load static %}

{% block title %}Timepiece{% endblock title %}

{% block navbar %}
    {% include "nav.html" %}
{% endblock navbar %}

{% block basecontent %}
<div id="content" class="container-fluid">
    {% block messages %}
        {% include "timepiece/messages.html" %}
    {% endblock messages %}

    {% if user.is_authenticated %}
        {% block breadcrumb %}
            <ul class="breadcrumb">
                {% block crumbs %}
                    <li><a href="{% url 'dashboard' %}">Timepiece</a></li>
                {% endblock crumbs %}
            </ul>
        {% endblock breadcrumb %}
    {% endif %}

    {% block content %}
    {% endblock content %}
</div>
{% endblock basecontent %}
