{% load timepiece_tags %}
{% load url from future %}
{% block quick-clock-in %}
    {% if perms.entries.can_clock_in %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-time icon-white"> </i><b class="caret"></b> </a>
            <ul class="dropdown-menu">
                <li><a href="/timepiece/dashboard/">Dashboard</a></li>
                {% if perms.entries.add_entry %}
                    <li><a href="{% url 'view_user_timesheet' request.user.pk %}">Time Sheet</a></li>
                {% endif %}
                <li><a href="{% url 'clock_in' %}">Clock in...</a></li>
                <li><a href="{% url 'create_entry' %}">Add Entry...</a></li>
                <li><a href="{% url 'bulk_entry' %}">Bulk Entry</a></li>
                <li><a href="{% url 'pto' %}">Paid Time Off</a></li>
                {% if work_projects %}<li class="divider"></li>{% endif %}
                {% for project in work_projects %}
                    <li><a href="{% url 'clock_in' %}?project={{ project.id }}">{{ project }}</a></li>
                {% endfor %}
                {% if leave_projects %}<li class="divider"></li>{% endif %}
                {% for project in leave_projects %}
                    <li><a href="{% url 'clock_in' %}?project={{ project.id }}">{{ project }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock quick-clock-in %}
