{% load i18n %}
<div class="pagination">
    <ul>
        {% if object_list.has_previous %}
            <li>
                <a href="?page={{ object_list.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&laquo; {% trans "previous" %}</a>
            </li>
        {% else %}
            <li class="disabled">
                <a>&laquo; {% trans "previous" %}</a>
            </li>
        {% endif %}
        {% for page in pages %}
            {% if page %}
                {% ifequal page object_list.number %}
                <li class="active">
                    <a>{{ page }}</a>
                </li>
                {% else %}
                <li>
                    <a href="?page={{ page }}{{ getvars }}{{ hashtag }}">{{ page }}</a>
                </li>
                {% endifequal %}
            {% else %}
                <li>
                    <a>...</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if object_list.has_next %}
            <li>
                <a href="?page={{ object_list.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "next" %} &raquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <a class="disabled next">{% trans "next" %} &raquo;</a>
            </li>
        {% endif %}
    </ul>
</div>
