// Includes
@import "../../bootstrap/less/bootstrap.less";

// Variables & Mixins
@white: #FFFFFF;
@lightgray: #DDDDDD;
@blue: #049CDB;
@lightblue: lighten(@blue, 20%);

.bg-icon(@icon) {
    background: url('../../images/icons/@{icon}') no-repeat;
}

.list-icon(@icon) {
    list-style-image: url('../../images/icons/@{icon}');
}

body {
    /*****************************************
     * Start HTML entities
     *****************************************/

    h1, h2, h3, h4, h5, h6 {
        margin: 0px 0px 6px 0px;
    }

    h2 {
        border-bottom: 1px solid #593E1A;

        &.skinny {
            width: 60%;
        }
    }

    textarea {
        width: 30em;
        height: 10em;
    }

    img.icon {
        padding-right: 0.5em;
        height: 16px;
        width: 16px;
    }

    ul {
        &.subnav {
            margin-top: 3px;

            li {
                display: inline;
                border-left: 1px solid @lightgray;
                padding: 0px 10px;

                &:first-child {
                    padding-left: 0px;
                    border-left: 0px;
                }
            }
        }
    }

    span {
        &.individual {
            .bg-icon('user.png');
            padding-left: 20px;
        }

        &.business {
            .bg-icon('building.png');
            padding-left: 20px;
        }

        &.project {
            .bg-icon('report.png');
            padding-left: 20px;
        }
    }

    ul {
        &.people {
            li {
                &.add {
                    .list-icon('user_add.png');
                    padding-top: 1em;
                }

                .list-icon('user.png');
            }
        }

        &.businesses {
            li {
                .list-icon('building.png');
                padding: 0.2em;
            }
        }

        &.projects {
            li {
                .list-icon('report.png');
                padding: 0.2em;
            }
        }
    }

    table {
        @blue: #BBBFDD;
        @lightblue: #DFDFEF;
        @lightgray: #AAAAAA;

        tr {
            &.ledger_header th {
                background-color: @lightblue !important;
            }

            &.before_from_date {
                color: @lightgray;
            }

            &.daily_total {
                background-color: @lightblue !important;
                border-color: @blue;

                td {
                    border-right-color: @blue;
                    border-left-color: @blue;
                }
            }

            &.weekly_total {
                background-color: @blue !important;
            }
        }
    }

    /*****************************************
     * End HTML entities
     *****************************************/


    /*****************************************
     * Start general site-wide classes/ids
     *****************************************/

    .scroll {
        width: 100%;
        overflow-x: auto;
    }

    #ui-datepicker-div {
        font-size: 80%;
    }

    /*****************************************
     * End general site-wide classes
     *****************************************/

    /*****************************************
     * Start dashboard
     *****************************************/

    &#dashboard {
        .active.paused, #active-entries .paused {
            color: #999;
        }
    }

    /*****************************************
     * End dashboard
     *****************************************/

    /*****************************************
     * Start content
     *****************************************/

    #content {
        margin-top: 60px;

        /*****************************************
         * Start general content
         *****************************************/

        form#date-filter table {
            margin: 0;
        }

        form#date-filter input[name=from_date],
        form#date-filter input[name=date],
        form#date-filter input[name=to_date] {
            width: 7em;
        }

        #cal_wrapper {
            width: 900px;
            margin: 10px 0px;
        }

        .cal_wrapper {
            th {
                padding-right: 4px;
            }

            .cal {
                float: left;
                padding: 18px;

                &.left, &.right {
                    background-color: #EDEDFF;
                }

                &.middle {
                    background-color: #DFDFEF;
                }
            }
        }

        ul.date-filters {
            margin: 1em 0;
        }

        ul.date-filters li {
            list-style-type: none;
        }

        ul.date-filters ul {
            margin: 0.2em 0;
            font-size: 93%;
        }

        ul.date-filters ul li {
            display: inline;
            border-left: 1px solid lightgray;
            padding: 0 0.2em 0 0.5em;
        }

        ul.date-filters ul li:first-child {
            padding: 0 0.2em 0 0;
            border-left: none;
        }

        ul.date-filters ul li.label {
            padding: 1px 3px;
            font-weight: bold;
        }

        ul.actions {
            margin: 0;
            font-size: 93%;
        }

        ul.actions li {
            display: inline;
            border-left: 1px solid lightgray;
            padding: 0 0.2em 0 0.5em;
        }

        ul.actions li:first-child {
            padding: 0 0.2em 0 0;
            border-left: none;
        }

        .row {
            margin-top: 13px;
        }

        .active {
            color: inherit;
        }

        .hours {
            text-align: right;
        }

        /*****************************************
         * End general content
         *****************************************/

        /*****************************************
         * Start Reports
         *****************************************/

        ul {
            &.reports {
                font-size: 110%;

                li {
                    .list-icon('chart_bar.png');
                    margin-bottom: 0.2em;
                    
                }
            }

            &.parent {
                ul {
                    list-style-type: none;
                }
            }
        }

        /*****************************************
         * End Reports
         *****************************************/
    }

    /*****************************************
     * End content
     *****************************************/
}
