<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	  <meta http-equiv='content-type' content='text/html; charset=iso-8859-1' />
	  <title>{% block title %}django-timepiece{% endblock %}</title>
	  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/base/base-min.css">
	  <link charset='UTF-8' rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
	  <link charset="UTF-8" rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/jquery.autocomplete.css" />
	  <link charset='UTF-8' rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}css/books.css" />
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript">jQuery.noConflict();</script>
	  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	  <script src="{{ STATIC_URL }}js/jquery.autocomplete.min.js" type="text/javascript"></script>
    {% block javascript %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>

<h1>django-timepiece</h1>
<ul>
    <li><a href='{% url timepiece-entries %}'>Time Tracking</a></li>
    <li><a href='{% url list_people %}'>People</a></li>
    <li><a href='{% url list_businesses %}'>Businesses</a></li>
    <li><a href='{% url list_projects %}'>Projects</a></li>
</ul>

<div id='content'>
    {% block content %}{% endblock %}
</div>

</body>
</html>
