{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}
{% load url from future %}

{% block title %}{{ contract }} Report{% endblock %}

{% block content %}
<h2>Current Contracts</h2>

<table class='timepiece-summary'>
    <tr>
        <th>Project</th>
        <th>Time Frame</th>
        <th>Hours</ht>
    </tr>
    {% for contract in contracts %}
        <tr>
            <td>
                <a href="{% url 'view_contract' contract.id %}">{{ contract.project }}</a>
            </td>
            <td>{{ contract.start_date|date }} &mdash; {{ contract.end_date }}</td>
            <td>Worked {{ contract.hours_worked }} of {{ contract.num_hours }} ({% widthratio contract.hours_worked contract.num_hours 100 %}%)</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
