{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}Payroll Summary{% endblock %}

{% block content %}
<h2>Weekly Summary</h2>

{% date_filters "months" %}

<form method="get" action="" id="date-filter" accept-charset="utf-8">
    <ul id='ledger-date-fieldlist'>
        {{ form.as_ul }}
        <li>
            <input type='submit' name='submit' value='Update' id='id_date_form_submit_btn'/>
        </li>
        <li>
            <input type='button' name='clear' value='Clear' id='id_date_form_clear_btn'/>
        </li>
    </ul>
</form>

<div style='float: right;'>
{% for cal in cals %}
{{ cal|safe }}
{% endfor %}
</div>

<table>
    <tr>
        <th>&nbsp;</th>
        {% for week, monday in all_weeks.iteritems %}
            <th>Week {{ week }} ({{ monday|date:"N j" }})</th>
        {% endfor %}
    </tr>
    {% for contact in contacts %}
        <tr{% if contact.overtime > 40.00 %} class='overtime'{% endif %}>
            <th>{{ contact }}</th>
            {% for week, hours in contact.weeks %}
                <td>{% if hours %}{{ hours }}{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    
</table>

{% for contact in contacts %}
    <h3>{{ ts.contact }}</h3>
    <table>
        <tr>
            {% for week in ts.weeks.keys %}
                <td>Week {{ week }}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for total in ts.weeks.values %}
                <td>{{ total }}</td>
            {% endfor %}
        </tr>
    </table>
{% endfor %}

{% endblock %}

