{% extends "timepiece/business/base.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block title %}{% if not object %}Create Business Department{% else %}Edit {{ object }}{% endif %}{% endblock title %}

{% block crumbs %}
    {{ block.super }}
    <li>
        <span class="divider">/</span>
        {% if not object %}
            <a href="{% url 'create_business_department' business.id %}">Create Business Department for {{ business.name }}</a>
        {% else %}
            <a href="{% url 'edit_business_department' object.business.id object.pk %}">Edit Business Department</a>
        {% endif %}
    </li>
{% endblock crumbs %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{% if not object %}Create Business Department {% else %}Edit {{ object.name }}{% endif %}</h2>

            <br style="clear: both;" />
            <span class="alert alert-info">NOTE: For address fields, any field left blank will default to the value provided for the selected Business.  If the Business Department address is the same as the Business except for one field, you only need to enter that one field in this form.</span>

            <form id="create-edit-business" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Save" name="submit">
                    <input class="btn" type="button" onclick="history.go(-1)" value="Cancel">
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
