{% extends "timepiece/base.html" %}
{% block title %}{% if not business %}Create Business{% else %}Edit {{ business }}{% endif %}{% endblock %}
{% load bootstrap_toolkit %}

{% block content %}
    <div class="row">
        <div class="span12">
            <h2>{% if not business %}Create Business{% else %}Edit {{ business.name }}{% endif %}</h2>

            <br style="clear: both;" />

            <form id="create-edit-business" class="form-horizontal" action="" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {{ business_form|as_bootstrap:"horizontal" }}
                <div class="form-actions">
                    <input class="btn btn-primary" type="submit" value="Save" name="submit">
                    <input class="btn" type="button" onclick="history.go(-1)" value="Cancel">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
