{% load timepiece_tags %}
<table>
    <tr>
        <th>Date</th>
        <th>Project</th>
        <th>Clock In</th>
        <th>Clock Out</th>
        <th>Breaks</th>
        <th>Hours</th>
        <th>Location</th>
    </tr>
    {% for entry in entries %}
    <tr{% if entry.comments %} title='{{ entry.comments }}'{% endif %} class='{% if entry.is_paused %}paused{% endif %}{% if not entry.end_time %} active{% endif %} {% if entry.is_overlapping%}overlapping{% endif %}{% if not entry.billable %} non-billable{% endif %}'>
        <td>{{ entry.start_time|date:"m/d/Y (D)" }}</td>
        <td><a href='{% url view_project project_id=entry.project.id %}'>{{ entry.project }}</a></td>
        <td>{{ entry.start_time|date:"P" }}</td>
        <td>
            {% if entry.end_time %}
                {{ entry.end_time|date:"P" }}
            {% else %}
                <a href="{% url timepiece-clock-out entry.id %}">Clock Out</a>
            {% endif %}
        </td>
        <td>
            {{ entry.seconds_paused|seconds_to_hours|floatformat:2 }}
            {% if not entry.end_time %}
                {% if entry.is_paused %}
                    <a href="{% url timepiece-toggle-paused entry.id %}">(Resume)</a>
                {% else %}
                    <a href="{% url timepiece-toggle-paused entry.id %}">(Pause)</a>
                {% endif %}
            {% endif %}
        </td>
        <td>{{ entry.hours }}</td>
        <td>{{ entry.location }}</td>
        <td>
            <ul class='actions'>
                {% ifequal entry.status 'unverified' %}
                <li><a href="{% url timepiece-update entry.id %}">Change</a></li>
                <li><a href="{% url timepiece-delete entry.id %}">Remove</a></li>
                {% endifequal %}
            </ul>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan='6'>You have no time logged for this period.</td>
    </tr>
    {% endfor %}
</table>
