{% load timepiece_tags %}
{% if entries %}
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "User" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Project" %}</th>
                <th>{% trans "Activity" %}</th>
                <th>{% trans "Hours" %}</th>
                <th>{% trans "Comments" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                {% ifchanged entry.start_time|date:"W" %}
                    <tr class="ledger_header">
                        <th colspan='7'>{% blocktrans with week=week_start entry.start_time %}Week of {{ week }}{% endblocktrans %}</th>
                    </tr>
                {% endifchanged %}
                <tr>
                    {% ifchanged entry.start_time|date %}
                        <td>{{ entry.start_time|date:"m/d/Y (D)" }}</td>
                    {% else %}
                        <td></td>
                    {% endifchanged %}
                <td>{{ entry.user.get_full_name }} </td>
                <td>{{ entry.start_time|date:"P" }} - {{ entry.end_time|date:"P" }} </td>
                <td>{{ entry.project.name }}</td>
                <td>{{ entry.activity.name }}</td>
                <td class="hours">{{ entry.hours }}</td>
                <td title="{{entry.comments}}">{{ entry.comments|truncatewords:12 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans "No entries were found" %}</p>
{% endif %}
