{% load i18n %}
<div class="bar-graph">
{% if error %}
    <div class="error">{{ error|safe }}</div>
{% else %}
    {% ifnotequal worked 0 %}
    <div title="{{ worked }}">
        <span>{% blocktrans %}{{ worked }} hours worked{% endblocktrans %}</span>
    </div>
    {% endifnotequal %}
    {% ifnotequal left 0 %}
    <div title="{{ left }}">
        <span>({% blocktrans %}{{ left }} hours remaining{% endblocktrans %})</span>
    </div>
    {% endifnotequal %}
    {% ifnotequal over 0 %}
    <div title="{{ over }}">
        <span>({% blocktrans %}{{ over }} hours over{% endblocktrans %})</span>
    </div>
    {% endifnotequal %}
{% endif %}
</div>
