{% extends "timepiece/base.html" %}
{% load timepiece_tags %}
{% block css %}{{ block.super }}
<style>
tr.overlapping {
    background-color: #ff0000;
}
</style>
{% endblock %}
{% block sub_navigation %}
    <ul class='header-actions-left'>
        <li><strong><a href='{% url timepiece-entries %}'>Timepiece</a></strong></li>
        {% if perms.timepiece.view_project_time_sheet %}
            <li><a href="{% url tracked_projects %}">Projects</a></li>
        {% endif %}
        {% if perms.timepiece.view_person_time_sheet %}
            <li><a href="{% url tracked_people %}">People</a></li>
        {% endif %}
        {% if perms.timepiece.view_entry_summary %}
            <li><a href="{% url timepiece-summary %}">General Ledger</a></li>
        {% endif %}
        {% my_ledger %}
    </ul>
{% endblock %}
