{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}

{% block title %}Timepiece Entries{% endblock %}

{% block content %}
<h2>Time Tracking Report</h2>

<form action="" method="get" accept-charset="utf-8">
    <table>
        {{ form }}
    </table>
</form>

<h3>Hours by Project</h3>

<br />
<table>
    {% for entry in project_totals %}
    <tr>
        <td><a href='{% url view_project entry.project__business__id,entry.project__id %}'>{{ entry.project__name }}</a></td>
        <td>{{ entry.hours|floatformat:2 }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan='2'>&nbsp;</th>
    </tr>
    <tr>
        <th>Total:</th>
        <td>{{ total_hours|floatformat:2 }}</td>
    </tr>
</table>

{% endblock %}
