{% extends 'timepiece/time-sheet/base.html' %}
{% load timepiece_tags %}
{% load i18n %}

{% block title %}{% trans "Invoice Hours for Time Sheet" %}{% endblock %}

{% block content %}
  <h2>{% trans "Invoice Hours for Time Sheet" %}</h2>
  <h3><p>{% blocktrans %}Are you sure you want to invoice all entries in this project and date range, which includes a total of {{ hours }} hours?{% endblocktrans %}
  <p>{% blocktrans %}After entries are invoiced, they cannot be changed, and are considered charged to the client.{% endblocktrans %}</p></h3>
  <form method="post">{% csrf_token %}
      <input class="btn" type="submit" name="do_action" value="{% trans "Yes" %}"/>
      <a href="{{ return_url }}" class="btn">{% trans "No" %}</a>
  </form>
{% endblock %}
