{% extends "timepiece/time-sheet/base.html" %}

{% load url from future %}

{% block title %}Timepiece Dashboard{% endblock title %}

{% block bodyid %}dashboard{% endblock bodyid %}

{% block content %}

{% if perms.timepiece.can_clock_in %}
    <div class="row-fluid">
        <div class="span12">
            <h2>My Time Sheet</h2>
            <ul class="unstyled subnav">
                <li><a href="{% url 'timepiece-clock-in' %}">Clock In</a></li>
                <li><a href="{% url 'timepiece-add' %}">Add Entry</a></li>
            </ul>
        </div>
    </div>
    
    <form action="{% url 'new-dashboard' %}" class="form-inline" method="get">
        {{ quick_clock_in_form.non_field_errors }}
        {{ quick_clock_in_form.clockin.errors }}
        {{ quick_clock_in_form.clockin }}
        <input type="submit" class="btn btn-primary" value="Clock In" />
    </form>
{% endif %}

{% endblock content %}
