{% extends "timepiece/time-sheet/base.html" %}
{% load url from future %}

{% block title %}Timepiece Dashboard{% endblock title %}

{% block bodyid %}dashboard{% endblock bodyid %}

{% block extrajs %}
    <script src="{{ STATIC_URL }}d3/d3.v2.min.js"></script>
{% endblock extrajs %}

{% block content %}
    {% if perms.timepiece.can_clock_in %}
        <div class="row-fluid">
            <div class="span12">
                <h2>My Time Sheet</h2>
                <div class="row-fluid">
                    <ul class="unstyled subnav span4">
                        <li><a href="{% url 'timepiece-clock-in' %}">Clock In</a></li>
                        <li><a href="{% url 'timepiece-add' %}">Add Entry</a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% if todays_entries %}
            <div class="row-fluid">
                <div class="span12">
                    <h3>Today's Work Day</h3>
                    <div id="timeline" class="timeline"></div>
                </div>
            </div>
            <script src="{{ STATIC_URL }}timepiece/js/dashboard/todays_work.js" data-entries="{{ todays_entries_json }}"></script>
        {% endif %}

        {% if weeks_entries %}
            <div class="row-fluid">
                <div class="span12">
                    <h3>Hours This Week</h3>
                    <div id="weekly-hours">
                        <div id="all-hours" class="bar"></div>
                        {% for project in weeks_entries.projects %}
                            <div id="hours-{{ project.pk }}" class="bar"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <script src="{{ STATIC_URL }}timepiece/js/dashboard/weeks_work.js" data-entries="{{ weeks_entries_json }}"></script>
        {% endif %}
    {% endif %}
{% endblock content %}
